<div class="checkoutHeader" ng-show="application.headerstat">
    <!--Header starts here -->
    <div class="header">
        <div class="row">
            <div class="logo">
                <a href="#" ui-sref="home" ng-include="checkout.logo"></a>
            </div>
            <div class="returnbtn" ui-sref="buildOrder({ID:checkout.seluser,SearchType:'User',showOrdersummary: true})">
		    	<a>
					<!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="-27.9 72.8 42 28" style="enable-background:new -27.9 72.8 42 28;" xml:space="preserve">
						<text transform="matrix(1 0 0 1 -304 500)" style="font-family:'HelveticaNeue-Bold'; font-size:5px;">Created by Rohith M S</text>
						<text transform="matrix(1 0 0 1 -304 505)" style="font-family:'HelveticaNeue-Bold'; font-size:5px;">from the Noun Project</text>
						<g>
							<path d="M11.9,88.8h-29.5l7.4,7.5l-2.9,2.9l-12.5-12.5l12.5-12.5l2.9,2.9l-7.4,7.5h29.5V88.8z"/>
						</g>
					</svg> -->
				Return to Order</a>
		    </div>
		    <div class="pagetitle">
		    	<h2>CHECKOUT</h2>
		    </div>
        </div>
    </div>
    <!--Header ends here -->
</div>