<div class="container-fluid addressBook-main">
<div class="addressBook-container row">
	<div class="addressBook col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 back-common">
			<a href="javascript: window.history.go(-1)"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 14 21" style="enable-background:new 0 0 14 21;" xml:space="preserve">
						<style type="text/css">
							.st0{fill:#8B8E96;}
						</style>
						<g>
							<path d="M0.7,18.3l7.8-7.8L0.7,2.7L3,0.3l10.2,10.2L3,20.7L0.7,18.3z"/>
						</g>
			</svg>Back To Previous Page</a>
		</div>
		<h1>Address Book</h1>
<!-- 		<div class="search-block">
		<div>
			<ordercloud-search servicename="Addresses" controlleras="addressBook" placeholder="Search address" uib-dropdown-toggle></ordercloud-search>
			<i class="fa fa-search"></i>
		</div>
		<a ng-click="addAddr = !addAddr; addr=''" class="addNewLink">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
				<g>
					<rect x="10" width="4" height="24" />
					<rect y="10" width="24" height="4" />
				</g>
			</svg>
		Add New Address</a>
		</div> -->
		<div class="search-block">
		<div>
			<i class="fa fa-search"></i>
			<input type="text" placeholder="Search Address" ng-model="searchAddr.$"/> 
			<a class="clear" ng-click="searchAddr.$=null" ng-if="searchAddr">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="-502.4 514.1 26.2 26.2" style="enable-background:new -502.4 514.1 26.2 26.2;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:none;enable-background:new ;}
					.st1{fill:#CEB9E2;}
				</style>
				<path class="st0" d="z"/>
				<path class="st1" d="M-489.3,515.1c-6.7,0-12.1,5.4-12.1,12.1c0,6.7,5.4,12.1,12.1,12.1c6.7,0,12.1-5.4,12.1-12.1
					C-477.2,520.5-482.6,515.1-489.3,515.1z M-484.2,531.3l-1,1l-4.1-4.1l-4.1,4.1l-1-1l4.1-4.1l-4.1-4.1l1-1l4.1,4.1l4.1-4.1l1,1
					l-4.1,4.1L-484.2,531.3z"/>
				</svg>
			</a>
		</div>
		<a ng-click="addAddr = !addAddr; addr=''" class="addNewLink">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
				<g>
					<rect x="10" width="4" height="24" />
					<rect y="10" width="24" height="4" />
				</g>
			</svg>
		Add New Address</a>
		</div>
		<!-- ADD NEW ADDRESS STARTS -->
		<form name="addAddress" ng-hide="!addAddr">
			<div class="add-new-main">
				<div class="add-new-container">
					<h2>Add a New Address</h2>
					<div class="inline-div addr-top">
						<div>
							<p>NickName</p>
							<input type="text" ng-model="addr.NickName" autocomplete="off"/>
						</div>
						<div>
							<p>FirstName <span class="star">*</span></p>
							<input type="text" name="firstname" ng-model="addr.FirstName" autocomplete="off" ng-class="{error: addAddress.$submitted && addAddress.firstname.$invalid}" required />
						</div>
					</div>
					<div class="inline-div addr-top">
						<div>
							<p>Last Name <span class="star">*</span></p>
							<input type="text" name="lastname" ng-model="addr.LastName" autocomplete="off" ng-class="{error: addAddress.$submitted && addAddress.lastname.$invalid}" required />
						</div>
						<div>
							<p>ZIP Code<span class="star">*</span></p>
							<input class="zip-code" name="zip" type="number" ng-model="addr.Zip" ng-blur="addressBook.getLocation(addr)" autocomplete="off" required ng-class="{error: addAddress.$submitted && addAddress.zip.$invalid}" />
						</div>
					</div>
					<div class="addr-top">
						<p>Address 1<span class="star">*</span></p>
						<input type="text" name="street1" ng-model="addr.Street1" ng-blur="addressBook.getLocation(addr)" autocomplete="off" required ng-class="{error: addAddress.$submitted && addAddress.street1.$invalid}" />
					</div>
					<div class="addr-top">
						<p>Address 2</p>
						<input type="text" ng-model="addr.Street2" autocomplete="off"/>
					</div>
					<div class="inline-div addr-top">
						<div>
							<p>City<span class="star">*</span></p>
							<input type="text" name="city" ng-model="addr.City" required ng-if="addr.MultipleCities.length <= 1 || !addr.MultipleCities" ng-class="{error: addAddress.$submitted && addAddress.city.$invalid}" />
							<div uib-dropdown class="form-control " id="MultipleCities" ng-if="addr.MultipleCities.length > 1" ng-class="{errorCity: addAddress.$submitted && addr.City=='Select City'}">
								<div id="sort-dropdown" uib-dropdown-toggle>	
									<p class="sort-active-show" ng-init="addr.City = 'Select City'">{{addr.City}} <i class="fa fa-chevron-down"></i></p>
								</div>
								<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="sort-dropdown">
									<li ng-repeat="city in addr.MultipleCities" ng-click="addr.City=city"><a href="">{{city}}</a></li>
								</ul>
							</div>
						</div>
						<div>
							<p>State<span class="star">*</span></p>
							<input type="text" name="state" ng-model="addr.State" required ng-class="{error: addAddress.$submitted && addAddress.state.$invalid}" />
						</div>
					</div>
					<div class="addr-top addr-cont">
						 <div>
						 <input type="checkbox" name="shippingaddress" id="shippingaddress" ng-init="addrType.IsShipping=false" ng-model="addrType.IsShipping" ng-checked="false" class="checkbox-custom">
						 <label  for="shippingaddress"  class="checkbox-custom-label">Shipping Address</label>
						</div>
						<div>
						 <input type="checkbox" name="billingaddress" ng-model="addrType.IsBilling" ng-init="addrType.IsBilling=false" id="billingaddress" class="checkbox-custom" ng-checked="false">
						 <label  for="billingaddress"  class="checkbox-custom-label">Billing Address</label>
						</div>
					</div>
					<span class="addrerror" ng-if="addressBook.error">Atleast one address type should be selected.</span>
					<div class="contact-num addr-top">
						<p>Phone Number <span class="star">*</span></p>
						<input type="number" name="phone1" ng-model="addr.Phone1" ng-class="{error: addAddress.$submitted && addAddress.phone1.$invalid}" required max-length="3" ng-paste="$event.preventDefault()" />
						<input type="number" name="phone2" ng-model="addr.Phone2" ng-class="{error: addAddress.$submitted && addAddress.phone2.$invalid}" required max-length="3" ng-paste="$event.preventDefault()" />
						<input type="number" name="phone3" ng-model="addr.Phone3" ng-class="{error: addAddress.$submitted && addAddress.phone3.$invalid}" required max-length="4" ng-paste="$event.preventDefault()" />
						<div class="addr-top">
							<button type="button" class="save" ng-click="CreateAddress(addr, addAddress, addrType)">Save</button>
							<button type="button" ng-click="addAddr = !addAddr">Cancel</button>
						</div>
					</div>
				</div>
			</div> 
		</form>
				<!-- searched LIST STARTS -->
<!-- 			<table ng-if="addressBook.qeueryLength > 0">
				<tr ng-repeat="searchedAddr in addressBook.searchedAddr.Items | filter:searchAddr track by $index" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<td>
						<div ng-if="searchedAddr.xp.IsDefault==true">
							<h4>Default Address</h4>
							<div class="custom-ceckbox">
								<label>
									<input type="radio" name="searchedAddr" checked/>
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 viewBox="0 0 128.7 87.3" style="enable-background:new 0 0 128.7 87.3;" xml:space="preserve">
											<g>
												<path d="M111.9,20.6L65.8,66.7l-8.7,8.7c-1.1,1.1-2.7,1.8-4.3,1.8s-3.2-0.6-4.3-1.8l-8.7-8.7l-23-23c-1.1-1.1-1.8-2.7-1.8-4.3
													s0.6-3.2,1.8-4.3l-0.1,0.1c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8l27.5,27.3L103.2,12c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8
													l0,0c1.1,1.1,1.8,2.7,1.8,4.3S113,19.5,111.9,20.6z"/>
											</g>
										</svg>
								</label>
							</div>
						</div>
						<div ng-if="searchedAddr.xp.IsDefault==false">
							<h4>Make Default Address</h4>
							<div class="custom-ceckbox">
								<label>
									<input type="radio" name="address" ng-value="{{$index}}" ng-click="addressBook.makeDefault(searchedAddr)"/>
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 128.7 87.3" style="enable-background:new 0 0 128.7 87.3;" xml:space="preserve">
										<g>
										<path d="M111.9,20.6L65.8,66.7l-8.7,8.7c-1.1,1.1-2.7,1.8-4.3,1.8s-3.2-0.6-4.3-1.8l-8.7-8.7l-23-23c-1.1-1.1-1.8-2.7-1.8-4.3
											s0.6-3.2,1.8-4.3l-0.1,0.1c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8l27.5,27.3L103.2,12c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8
											l0,0c1.1,1.1,1.8,2.7,1.8,4.3S113,19.5,111.9,20.6z"/>
										</g>
									</svg>
								</label>
							</div>
						</div>
						<div>
						
						</div>
					</td>
					<td>
						<h4>Name</h4>
						<p>{{searchedAddr.FirstName}} {{searchedAddr.LastName}}</p>
					</td>
					<td>
						<h4>Address</h4>
						<p>{{searchedAddr.Street1}}</p>
						<p>{{searchedAddr.Street2}}</p>
						<p>{{searchedAddr.City}} {{searchedAddr.State}} {{searchedAddr.Country}} {{searchedAddr.Zip}}</p>
					</td>
					<td>
						<h4>Phone Number</h4>
						<p>{{searchedAddr.Phone}}</p>
					</td>
					<td>
						<a ng-click="addressBook.editAddress(searchedAddr, $index);">Edit</a>
						<a class="bar">|</a>
						<a popover-trigger="none" popover-is-open="showDeliveryToolTip"  ng-click="showDeliveryToolTip = !showDeliveryToolTip; addressList.ID=searchedAddr.ID" uib-popover-template="deleteAddress.templateUrl">Delete</a>
					</td>
					<td>
						
						<form ng-show="addressBook.showedit{{$index}}" class="edit-address-main" name="searchedAddress">
							<div class="edit-address-container">
								<h2>Edit Address</h2>
								<div class="inline-div addr-top">
									<div>
										<p>Nickname</p>
										<input type="text" ng-model="addressBook.editAddr.xp.NickName" />
									</div>
									<div>
										<p>FirstName</p>
										<input type="text" ng-model="addressBook.editAddr.FirstName" name="firstname" ng-class="{error: searchedAddress.$submitted && searchedAddress.firstname.$invalid}" required />
									</div>
								</div>
								<div class="inline-div addr-top">
									<div>
										<p>ZIP Code<span class="star">*</span></p>
										<input class="zip-code" type="text" ng-model="addressBook.editAddr.Zip" ng-blur="addressBook.getLoactionEdit(addressBook.editAddr)" name="zip" ng-class="{error: searchedAddress.$submitted && searchedAddress.zip.$invalid}" required />
									</div>
									<div>
										<p>Last Name</p>
										<input type="text" ng-model="addressBook.editAddr.LastName" name="lastname" ng-class="{error: searchedAddress.$submitted && searchedAddress.firstname.$invalid}" required />
									</div>
								</div>
								<div class="addr-top">
									<p>Address 1<span class="star">*</span></p>
									<input type="text" ng-model="addressBook.editAddr.Street1" ng-blur="addressBook.getLoactionEdit(addressBook.editAddr)" name="street1" ng-class="{error: searchedAddress.$submitted && searchedAddress.street1.$invalid}" required />
								</div>
								<div class="addr-top">
									<p>Address 2</p>
									<input type="text" ng-model="addressBook.editAddr.Street2"/>
								</div>
								<div class="inline-div addr-top">
									<div>
										<p>City<span class="star">*</span></p>
										<input type="text" name="city" ng-model="addressBook.editAddr.City" ng-if="addressBook.editAddr.MultipleCities.length <= 1 || !addressBook.editAddr.MultipleCities" ng-class="{error: searchedAddress.$submitted && searchedAddress.firstname.$invalid}" ng-required="addressBook.editAddr.MultipleCities.length <= 1 || !addressBook.editAddr.MultipleCities" />
										<div uib-dropdown class="form-control " id="MultipleCities" ng-if="addressBook.editAddr.MultipleCities.length > 1" ng-class="{errorCity: searchedAddress.$submitted && addressBook.editAddr.City=='Select City'}">
											<div id="sort-dropdown" uib-dropdown-toggle>	
												<p class="sort-active-show" ng-init="addressBook.editAddr.City = 'Select City'">{{addressBook.editAddr.City}} <i class="fa fa-chevron-down"></i></p>
											</div>
											<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="sort-dropdown">
												<li ng-repeat="city in addressBook.editAddr.MultipleCities" ng-click="addressBook.editAddr.City=city"><a href="">{{city}}</a></li>
											</ul>
										</div>
									</div>
									<div>
										<p>State<span class="star">*</span></p>
										<input type="text" ng-model="addressBook.editAddr.State" name="state" ng-class="{error: searchedAddress.$submitted && searchedAddress.state.$invalid}" required />
									</div>
								</div>
								<div class="contact-num addr-top">
									<p>Phone Number</p>
									<input type="number" ng-model="addressBook.contact.Phone1" name="phone1" ng-class="{error: searchedAddress.$submitted && searchedAddress.phone1.$invalid}" required max-length="3" ng-paste="$event.preventDefault()" />
									<input type="number" ng-model="addressBook.contact.Phone2" name="phone2" ng-class="{error: searchedAddress.$submitted && searchedAddress.phone2.$invalid}" required max-length="3" ng-paste="$event.preventDefault()" />
									<input type="number" ng-model="addressBook.contact.Phone3" name="phone3" ng-class="{error: searchedAddress.$submitted && searchedAddress.phone3.$invalid}" required max-length="4" ng-paste="$event.preventDefault()" />
								</div>
								<div class="addr-top addr-cont">
								<div>
								 <input type="checkbox" name="shippingaddress1" id="shippingaddress1" ng-model="addressBook.editAddr.IsShipping" ng-checked="addressBook.editAddr.IsShipping" class="checkbox-custom">
								 <label  for="shippingaddress1" class="checkbox-custom-label">Shipping Address</label>
								</div>
								<div>
								 <input type="checkbox" name="billingaddress1" id="billingaddress1" ng-model="addressBook.editAddr.IsBilling" ng-checked="addressBook.editAddr.IsBilling" class="checkbox-custom">
								 <label  for="billingaddress1" class="checkbox-custom-label">Billing Address</label>
								</div>
							</div>
							</div>
							<div class="button-list addr-top">
								<button type="button" class="save" ng-click="addressBook.saveAddress(addressBook.editAddr, addressBook.contact, searchedAddress)">SAVE</button>
								<button type="button" ng-click="addressBook.closeShowedit($index)">CANCEL</button>
							</div>
						</form> 
					</td>
				</tr>
			</table> -->
		<!-- ADDRESS LIST STARTS -->
			<table ng-if="addressBook.defaultAddr.length>0">
				<tr class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="addressList in addressBook.defaultAddr | filter:searchAddr:strict">
					<td>
						<h4>Default Address</h4>
						<!-- <div class="custom-ceckbox">
							<label>
								<input type="radio" name="defaultAddr" ng-checked="true"/>
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 128.7 87.3" style="enable-background:new 0 0 128.7 87.3;" xml:space="preserve">
										<g>
											<path d="M111.9,20.6L65.8,66.7l-8.7,8.7c-1.1,1.1-2.7,1.8-4.3,1.8s-3.2-0.6-4.3-1.8l-8.7-8.7l-23-23c-1.1-1.1-1.8-2.7-1.8-4.3
												s0.6-3.2,1.8-4.3l-0.1,0.1c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8l27.5,27.3L103.2,12c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8
												l0,0c1.1,1.1,1.8,2.7,1.8,4.3S113,19.5,111.9,20.6z"/>
										</g>
									</svg>
							</label>
						</div> -->
						<div>
						<input type="radio" name="defaultAddr" ng-checked="true" class="checkbox-custom" id="shippingaddresss">
						<label  for="shippingaddresss" class="checkbox-custom-label"></label>
						</div>
					</td>
					<td>
						<h4>Name</h4>
						<p>{{addressBook.defaultAddr[0].FirstName}} {{addressBook.defaultAddr[0].LastName}}</p>
					</td>
					<td>
						<h4>Address</h4>
						<p>{{addressBook.defaultAddr[0].Street1}}</p>
						<p>{{addressBook.defaultAddr[0].Street2}}</p>
						<p>{{addressBook.defaultAddr[0].City}} {{addressBook.defaultAddr[0].State}} {{addressBook.defaultAddr[0].Country}} {{addressBook.defaultAddr[0].Zip}}</p>
					</td>
					<td>
						<h4>Phone Number</h4>
						<p>{{addressBook.defaultAddr[0].Phone}}</p>
					</td>
					<td>
						<a ng-click="addressBook.editAddress(addressBook.defaultAddr[0])">Edit</a>
						<a class="bar">|</a>
						<a popover-trigger="none" popover-is-open="showDeliveryToolTip"  ng-click="showDeliveryToolTip = !showDeliveryToolTip" uib-popover-template="deleteAddress.templateUrl">Delete</a>
					</td>
					<td>
						<!-- EDIT ADDRESS STARTS -->
						<form ng-if="addressBook.defaultEdit" class="edit-address-main" name="deafaultAddress">
							<div class="edit-address-container" id="top">
								<h2>Edit Address</h2>
								<div class="inline-div addr-top">
									<div>
										<p>Nickname</p>
										<input type="text" ng-model="addressBook.editAddr.xp.NickName"/>
									</div>
									<div>
										<p>First Name<span class="star">*</span></p>
										<input type="text" ng-model="addressBook.editAddr.FirstName" name="firstname" ng-class="{error: deafaultAddress.$submitted && deafaultAddress.firstname.$invalid}" required />
									</div>
								</div>
								<div class="inline-div addr-top">
									<div>
										<p>Last Name<span class="star">*</span></p>
										<input type="text" ng-model="addressBook.editAddr.LastName" name="lastname" ng-class="{error: deafaultAddress.$submitted && deafaultAddress.lastname.$invalid}" required />
									</div>
									<div>
										<p>ZIP Code<span class="star">*</span></p>
										<input class="zip-code" type="text" ng-model="addressBook.editAddr.Zip" ng-blur="addressBook.getLoactionEdit(addressBook.editAddr)" name="zip" ng-class="{error: deafaultAddress.$submitted && deafaultAddress.zip.$invalid}" required />
									</div>
								</div>
								<div class="addr-top">
									<p>Address 1<span class="star">*</span></p>
									<input type="text"  ng-model="addressBook.editAddr.Street1" ng-blur="addressBook.getLoactionEdit(addressBook.editAddr)" name="street1" ng-class="{error: deafaultAddress.$submitted && deafaultAddress.street1.$invalid}" required />
								</div>
								<h6 class="error" ng-if="deafaultAddress.invalidAddress && addressBook.editAddr.Street1 && addressBook.editAddr.Zip">Invalid Address/Zip</h6>
								<div class="addr-top">
									<p>Address 2</p>
									<input type="text" ng-model="addressBook.editAddr.Street2"/>
								</div>
								<div class="inline-div addr-top">
									<div>
										<p>City<span class="star">*</span></p>
										<input type="text" ng-model="addressBook.editAddr.City" ng-if="addressBook.editAddr.MultipleCities.length <= 1 || !addressBook.editAddr.MultipleCities" name="firstname" ng-class="{error: deafaultAddress.$submitted && deafaultAddress.firstname.$invalid}" ng-required="addressBook.editAddr.MultipleCities.length <= 1 || !addressBook.editAddr.MultipleCities" />
										<div uib-dropdown class="form-control " id="MultipleCities" ng-if="addressBook.editAddr.MultipleCities.length > 1" ng-class="{errorCity: deafaultAddress.$submitted && addressBook.editAddr.City=='Select City'}">
											<div id="sort-dropdown" uib-dropdown-toggle>	
												<p class="sort-active-show" ng-init="addressBook.editAddr.City = 'Select City'">{{addressBook.editAddr.City}}  <i class="fa fa-chevron-down"></i></p>
											</div>
											<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="sort-dropdown">
												<li ng-repeat="city in addressBook.editAddr.MultipleCities" ng-click="addressBook.editAddr.City=city"><a href="">{{city}}</a></li>
											</ul>
										</div>
									</div>
									<div>
										<p>State<span class="star">*</span></p>
										<input type="text" ng-model="addressBook.editAddr.State" name="state" ng-class="{error: deafaultAddress.$submitted && deafaultAddress.state.$invalid}" required />
									</div>
								</div>
								<div class="contact-num addr-top">
									<p>Phone Number<span class="star">*</span></p>
									<input type="number" ng-model="addressBook.contact.Phone1" name="phone1" ng-class="{error: deafaultAddress.$submitted && deafaultAddress.phone1.$invalid}" required max-length="3" ng-paste="$event.preventDefault()" />
									<input type="number" ng-model="addressBook.contact.Phone2" name="phone2" ng-class="{error: deafaultAddress.$submitted && deafaultAddress.phone2.$invalid}" required max-length="3" ng-paste="$event.preventDefault()" />
									<input type="number" ng-model="addressBook.contact.Phone3" name="phone3" ng-class="{error: deafaultAddress.$submitted && deafaultAddress.phone3.$invalid}" required max-length="4" ng-paste="$event.preventDefault()" />
								</div>
								<div class="addr-top addr-cont">
									<div>
									 <input type="checkbox" name="shippingaddress2" id="shippingaddress2" ng-model="addressBook.editAddr.IsShipping" ng-checked="addressBook.editAddr.IsShipping" class="checkbox-custom">
									 <label  for="shippingaddress2" class="checkbox-custom-label">Shipping Address</label>
									</div>
									<div>
									 <input type="checkbox" name="billingaddress2" id="billingaddress2"  ng-model="addressBook.editAddr.IsBilling" ng-checked="addressBook.editAddr.IsBilling" class="checkbox-custom">
									 <label  for="billingaddress2" class="checkbox-custom-label">Billing Address</label>
									</div>
								</div>
								<span class="addrerror" ng-if="!addressBook.editAddr.IsBilling&&!addressBook.editAddr.IsShipping">Atleast one address type should be selected.</span>
							</div>
							<div class="button-list addr-top">
								<button type="button" class="save" ng-click="addressBook.saveAddress(addressBook.editAddr, addressBook.contact, deafaultAddress)">Save</button>
								<button type="button" ng-click="addressBook.defaultEdit=!addressBook.defaultEdit">Cancel</button>
							</div>
						</form> 
					</td>
				</tr>
			</table>
			<table>
				<tr ng-repeat="addressList in addressBook.list | filter:searchAddr:strict" ng-if="!addressList.xp.IsDefault" ng-init="addressBook.showedit[$index]=false" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<td>
						<h4>Make Default Address</h4>
						<!-- <div class="custom-ceckbox">
							<label>
								<input type="radio" name="address" ng-value="{{$index}}" ng-click="addressBook.makeDefault(addressList)"/>
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 128.7 87.3" style="enable-background:new 0 0 128.7 87.3;" xml:space="preserve">
									<g>
									<path d="M111.9,20.6L65.8,66.7l-8.7,8.7c-1.1,1.1-2.7,1.8-4.3,1.8s-3.2-0.6-4.3-1.8l-8.7-8.7l-23-23c-1.1-1.1-1.8-2.7-1.8-4.3
										s0.6-3.2,1.8-4.3l-0.1,0.1c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8l27.5,27.3L103.2,12c1.1-1.1,2.7-1.8,4.3-1.8s3.2,0.6,4.3,1.8
										l0,0c1.1,1.1,1.8,2.7,1.8,4.3S113,19.5,111.9,20.6z"/>
									</g>
								</svg>
							</label>
						</div> -->
						<div>
						<input type="radio" name="address" ng-value="{{$index}}" ng-click="addressBook.makeDefault(addressList)" class="checkbox-custom" id="makedefault{{$index}}">
						<label  for="makedefault{{$index}}" class="checkbox-custom-label"></label>
						</div>
					</td>
					<td>
						<h4>Name</h4>
						<p>{{addressList.FirstName}} {{addressList.LastName}}</p>
					</td>
					<td>	
						<h4>Address</h4>
						<p>{{addressList.Street1}}</p>
						<p>{{addressList.Street2}}</p>
						<p>{{addressList.City}} {{addressList.State}} {{addressList.Country}} {{addressList.Zip}}</p>
					</td>
					<td>
						<h4>Phone</h4>
						<p>{{addressList.Phone}}</p>
					</td>
					<td>
						<a ng-click="addressBook.editAddress(addressList, $index);">Edit</a>
						<a class="bar">|</a>
						<a popover-trigger="none" popover-is-open="showDeliveryToolTip"  ng-click="showDeliveryToolTip = !showDeliveryToolTip" uib-popover-template="deleteAddress.templateUrl">Delete</a>
					</td>
					<td>
						<!-- EDIT ADDRESS STARTS -->
						<form ng-show="addressBook.showedit{{$index}}" class="edit-address-main" name="makeDefault[$index]">
							<div class="edit-address-container" id="top">
								<h2>Edit Address</h2>
								<div class="inline-div addr-top">
									<div>
										<p>Nickname</p>
										<input type="text" ng-model="addressBook.editAddr.xp.NickName"/>
									</div>
									<div>
										<p>FirstName<span class="star">*</span></p>
										<input type="text" ng-model="addressBook.editAddr.FirstName" name="firstname" ng-class="{error: makeDefault[$index].$submitted && makeDefault[$index].firstname.$invalid}" required />
									</div>
								</div>
								<div class="inline-div addr-top">
									
									<div>
										<p>Last Name<span class="star">*</span></p>
										<input type="text" ng-model="addressBook.editAddr.LastName" name="lastname" ng-class="{error: makeDefault[$index].$submitted && makeDefault[$index].lastname.$invalid}" required />
									</div>
									<div>
										<p>ZIP Code<span class="star">*</span></p>
										<input class="zip-code" type="text" ng-model="addressBook.editAddr.Zip" ng-blur="addressBook.getLoactionEdit(addressBook.editAddr)" name="zip" ng-class="{error: makeDefault[$index].$submitted && makeDefault[$index].zip.$invalid}" required />
									</div>
								</div>
								<div class="addr-top">
									<p>Address 1<span class="star">*</span></p>
									<input type="text"  ng-model="addressBook.editAddr.Street1" ng-blur="addressBook.getLoactionEdit(addressBook.editAddr)" name="street1" ng-class="{error: makeDefault[$index].$submitted && makeDefault[$index].street1.$invalid}" required />
								</div>
								<h6 class="error" ng-if="makeDefault[$index].invalidAddress && addressBook.editAddr.Street1 && addressBook.editAddr.Zip">Invalid Address/Zip</h6>
								<div class="addr-top">
									<p>Address 2</p>
									<input type="text" ng-model="addressBook.editAddr.Street2" />
								</div>
								<div class="inline-div addr-top">
									<div>
										<p>City<span class="star">*</span></p>
										<input type="text" ng-model="addressBook.editAddr.City" name="firstname" ng-class="{error: makeDefault[$index].$submitted && makeDefault[$index].firstname.$invalid}" ng-required="addressBook.editAddr.MultipleCities.length <= 1 || !addressBook.editAddr.MultipleCities" ng-if="addressBook.editAddr.MultipleCities.length <= 1 || !addressBook.editAddr.MultipleCities" />
										<div uib-dropdown class="form-control " id="MultipleCities" ng-if="addressBook.editAddr.MultipleCities.length > 1" ng-class="{errorCity: makeDefault[$index].$submitted && addressBook.editAddr.City=='Select City'}">
											<div id="sort-dropdown" uib-dropdown-toggle>	
												<p class="sort-active-show" ng-init="addressBook.editAddr.City = 'Select City'">{{addressBook.editAddr.City}} <i class="fa fa-chevron-down"></i></p>
											</div>
											<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="sort-dropdown">
												<li ng-repeat="city in addressBook.editAddr.MultipleCities" ng-click="addressBook.editAddr.City=city"><a href="">{{city}}</a></li>
											</ul>
										</div>
									</div>
									<div>
										<p>State<span class="star">*</span></p>
										<input type="text" ng-model="addressBook.editAddr.State"  name="state" ng-class="{error: makeDefault[$index].$submitted && makeDefault[$index].state.$invalid}" required />
									</div>
								</div>
								<div class="addr-top addr-cont">
									 <div>
									 <input type="checkbox" name="shippingaddress3" id="shippingaddress3" ng-model="addressBook.editAddr.IsShipping" ng-checked="addressBook.editAddr.IsShipping" class="checkbox-custom">
									 <label  for="shippingaddress3" class="checkbox-custom-label">Shipping Address</label>
									 </div>
									 <div>
									 <input type="checkbox" name="billingaddress3" id="billingaddress3"  ng-model="addressBook.editAddr.IsBilling" ng-checked="addressBook.editAddr.IsBilling" class="checkbox-custom">
									 <label  for="billingaddress3" class="checkbox-custom-label">Billing Address</label>
									</div>
								</div>
								<span class="addrerror" ng-if="!addressBook.editAddr.IsBilling&&!addressBook.editAddr.IsShipping">Atleast one address type should be selected.</span>
								<div class="contact-num addr-top">
									<p>Phone Number<span class="star">*</span></p>
									<input type="number" ng-model="addressBook.contact.Phone1" name="phone1" ng-class="{error: makeDefault[$index].$submitted && makeDefault[$index].phone1.$invalid}" required max-length="3" ng-paste="$event.preventDefault()" />
									<input type="number" ng-model="addressBook.contact.Phone2" name="phone2" ng-class="{error: makeDefault[$index].$submitted && makeDefault[$index].phone2.$invalid}" required max-length="3" ng-paste="$event.preventDefault()" />
									<input type="number" ng-model="addressBook.contact.Phone3" name="phone3" ng-class="{error: makeDefault[$index].$submitted && makeDefault[$index].phone3.$invalid}" required max-length="4" ng-paste="$event.preventDefault()" />
								</div>
							</div>
							<div class="button-list addr-top">
								<button type="button" class="save" ng-click="addressBook.saveAddress(addressBook.editAddr, addressBook.contact, makeDefault[$index])">Save</button>
								<button type="button" ng-click="addressBook.closeShowedit($index)">Cancel</button>
							</div>
						</form> 
					</td>
				</tr>
			</table>
			<script type="text/ng-template" id="deleteAddress.html">
				<div click-outside="closePopover()">
					<h2>Delete this Address</h2>
					<button type="button" ng-click="addressBook.deleteAddr(addressList.ID)" ng-if="addressList.ID!=null">Yes</button>
					<button type="button" ng-click="addressBook.deleteAddr(addressBook.defaultAddr[0].ID)"  ng-if="addressList.ID==null">Yes</button>
					<button type="button" ng-click="cancelPopUp()">No</button>
				</div>
			</script>
	</div> 
</div>
</div>