.container-fluid.addressBook-main{
	position: absolute;
    top:0;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
	padding:0 30px;
	width:100%;
	background-color:@color0;
	a{
		.font-spacing;
	}
	input.error, .errorCity {
		border: 1px solid #f32929 !important;
	}
	.addressBook-container{
		padding: 15px 0px 35px 0px;
		.addressBook{
			.back-common{
				padding:0;
			}
			h1{
				font-size:1.125em;
				line-height:38px;
				.helvetica-bold;
				border-bottom:1px solid @color21;
				margin:0;
			}
			.add-new-main{
				width:76.6%;
			}
			.add-new-main, .edit-address-main{
				padding:20px 25px;
				background-color:@color24;
				margin-bottom: 15px;
				.add-new-container, .edit-address-container{
					width:50%;
					.inline-div{
						>div{
							.in-block;
						    width: 47.5%;
						}
						div:nth-of-type(1) {
							margin-right:3%;
						}
					}
					h2{
						.helvetica-bold;
						font-size:1.250em;
						line-height:20px;
						margin:0;
						color: #8c58b5
					}
					p{
						.helvetica-regular;
						font-size:0.938em;
						line-height:25px;
						color:@color26;
						margin:0;
					}
					input{
						background-color:@color23;
						.helvetica-regular;
						font-size:0.938em;
						line-height:35px;
						color:@color26;
						border:1px solid @color21;
						text-indent:10px;
						&.zip-code{
							width: 100%;
						}
					}
					.contact-num{
						input{
							width:20%;
						}
					}
					input[type="text"]{
						width:100%;
					}
					button{
						width:40%;
					}
				}
				.addr-top{
					margin-top:15px;
					.check-common{
						margin:-2px 2px 0 0;
					}
					.billing{
						margin-left:20px;
					}
					div{

					}
				}
				span.addrerror{
					color: #f00;
					margin-top: 20px;
					display: inline-block;
					font-size:0.750em;
				}
				.addr-cont{
				  div{
				  	display: inline-block;
				  }
				  .checkbox-custom-label{
				  	line-height:16px;
				  }
				}
				.button-list{
					width:100%;
				}
				button{
						.helvetica-bold;
						font-size:1em;
						line-height:35px;
						height:35px;
						.in-block;
						width:19.3%;
						color:@color0;
						background-color:@gray-button;
						.background-fade;
						border-radius:5px;
						&.save{
							margin-right:1%;
							background-color:#a576ca;
							&:hover{
								background-color:#7a43a3;
							}
							&:disabled {
								background-color:#a576ca;
							}
						}
						&:hover{
							background-color:@color1;
						}
				}
				label {
					.helvetica-regular;
					font-size: 0.875em;
					color:@color26;
					input[type="checkbox"]{
						vertical-align: middle;
						margin:3px 2px 4px 0;
					}
					margin-right: 15px;
				}
			}
			table{
				width:76.6%;
				tr{
					border:1px solid @color21;
					background-color:@color25;
					margin-bottom: 15px;
					td{
						padding: 15px 0;
						vertical-align: top;
						width:18.3%;
						.in-block;
						h4, a{
							.helvetica-regular;
							font-size:1em;
							line-height:35px;
							color:@color22;
							margin:0;
						}
						label{
							color:#464646;
						}
						a{
							text-decoration:underline;
							color:@primary-dark-color;
							.font-spacing;
							font-size:0.813em;
							&.bar{
								text-decoration:none;
							}
						}
						p{
							.helvetica-bold;
							font-size:1.063em;
							line-height:20px;
							margin-bottom:0;
							color:#000000;
						}
						.custom-ceckbox > label > input {
							visibility: hidden;
						}
						.custom-ceckbox > label {
							display: block;
							margin: 0 0 0 -10px;
							padding: 0 0 20px 0;  
							height: 20px;
							width: 150px;
						}
						.custom-ceckbox > label > svg {
							display: inline-block;
							padding: 0px;
							height:15px;
							width:15px;
							border:1px solid @color1;
							background-color:@color0;
							g{
								display:none;
							}
						}
						.custom-ceckbox > label > input:checked + svg {  
							fill:@primary-dark-color;
							background-color:@color0;
							g{
								display:block;
							}
						}
						&:last-child{
							width:100%;
							padding-right:5px;
						}
						&:nth-child(3){
							width:33%;
						}
						&:nth-last-child(2){
							width:10%;
						}
					}
					&:hover{
						background-color:@color14;
					}
				}
			}
			.search-block{
				margin:20px 0;
				width:76.6%;
				div{
					position: relative;
					width:80%;
					.in-block;
					input{
						.helvetica-regular;
						font-size:0.938em;
						line-height:38px;
						text-indent:10px;
						color:#464646;
						border:1px solid @color21;
						width:100%;
						text-indent: 25px;
						box-shadow: none;
						height:38px;
						padding-left:20px;
					}
					a{	
							width:15px;
							position:absolute;
							right:10px;
							top:13px;
						svg{
							width:15px;
							right:10px;
							top:13px;
						}
					}
					i{
						left: 15px;
						color: @primary-color;
						font-size: 1.250em;
						position: absolute;
						top: 8px;
						z-index: 2;
					}
				}
				a.addNewLink{
					width:17.5%;
					.in-block;
					font-size:0.938em;
					.helvetica-medium;
					color:@primary-dark-color;
					margin-left: 18px;
				    vertical-align: top;
					margin-top: 9px;
					.font-spacing;
					svg{
						width:10px;
						fill:@primary-dark-color;
					}
					&:hover{
						text-decoration:none;
					}
				}
				.form-group{
					width: 100%;
					a {
					    position: absolute;
						top: 11px;
						right: 15px;
						svg{
							width:14px;
							height:14px;
						}
					}
				}
			}
			.popover.top{
				border:1px solid @base-bg-purple-light;
				width:230px;
				h2{
					font-size: 0.938em;
					.helvetica-medium;
					margin: 10px 0;
				}
				button{
					.helvetica-bold;
					font-size: 0.625em;
					color: #ffffff;
					background-color: @base-bg-purple-light;
					padding: 5px 10px 5px 10px;
					margin-right: 8px;
					background:fade;
					&:hover{
						background-color: @primary-dark-color;
					}
				}
				.arrow{
					border-top-color: @base-bg-purple-light;	
				}
			}
		}
	}	
		.edit-address-main, .add-new-main{
		.form-control{
				padding:5px 5px;
				height:35px;
				cursor:pointer;
				background-color:#f4f4f4;
				border:1px solid #eaeaea;
				i {
					color:@primary-dark-color;
					float:right;
					font-size:12px;
					padding: 6px 0;
					.transition-common(all 0.5s ease);
					.rotate(0deg);
				}
				.dropdown-menu{
					width:100%;
					padding:0;
					border:1px solid @base-bg-purple-light;
					border-radius:0;
					li{
						border-bottom:1px solid @color21;
						border-radius:0;
						
						a{
							text-decoration:none;
							height:30px;
							line-height:26px;
							font-size:0.813em;
							padding: 5px 10px;
							.helvetica-regular;
							color:@color1;
							text-decoration:none;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							&:hover{
								background-color:@base-bg-purple-light;
								color:@color0 !important;
							}
						}
					}
					&:last-child{
						border-bottom:none;
					}
				}
				&.open{
					.fa-chevron-down{
						.rotate(180deg);
					}
				}
				#sort-dropdown + .dropdown-menu {
					border-bottom: 1px solid @base-bg-purple-light;
					li {
						a {
							padding: 0 10px;
							line-height: 30px;
						}
						&:last-child {
							border-bottom: none; 
						}
					}
				}
		}
	}
}	