<div class="oms-plp-left">
	<div class="plp-left-container" ng-class="{disabled: buildOrderLeft.guest}">
		<div class="order-for">
			<h1>Order For</h1>
			<p>{{buildOrderLeft.list.user}}</p>
		</div>
		<div class="order-address">
			<p>{{buildOrderLeft.list.address.Street1}}</p>
			<p>{{buildOrderLeft.list.address.Street2}}</p>
			<p>{{buildOrderLeft.list.address.City}} {{buildOrderLeft.list.address.State}} {{buildOrderLeft.list.address.Country}} {{buildOrderLeft.list.address.Zip}}</p>
		</div>
		<div class="order-price" ng-if="!buildOrderLeft.guest">
			<h2>{{buildOrderLeft.spendingAccounts[0].Name}}</h2> <p>{{buildOrderLeft.spendingAccounts[0].Balance | currency}}</p>
			<h3>Member since {{buildOrderLeft.spendingAccounts[0].StartDate | date:'yyyy'}}</h3>
		</div>
		<ul class="order-details" ng-class="buildOrderLeft.guest ? 'disable' : 'nothing'">
			<li>
				<a ui-sref="custInfo({ID:buildOrderLeft.list.ID})">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 28 34" style="enable-background:new 0 0 28 34;" xml:space="preserve">
				<circle cx="14" cy="7.6" r="7.1"/>
				<path  d="M26.5,33.6H1.6c-0.6,0-1-0.4-1-1V20.9c0-1.7,1.3-3,3-3h20.9c1.7,0,3,1.3,3,3v11.7C27.5,33.1,27,33.6,26.5,33.6z
					"/>
				</svg>
				<p>PROFILE DETAILS</p>
				</a>                        
			</li>
			<li>
				<a ui-sref="addressBook({ID:buildOrderLeft.list.ID})">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 35 35" style="enable-background:new 0 0 35 35;" xml:space="preserve">
					<path  d="M35,29.3V5.6c0-2.8-2.2-5-5-5H9.6c-2.8,0-5,2.2-5,5h3.1C8.4,5.6,9,6.2,9,7c0,0.8-0.6,1.4-1.4,1.4H1.5
						C0.7,8.4,0,9,0,9.9c0,0.8,0.7,1.5,1.5,1.5h3V14h3.1C8.4,14,9,14.6,9,15.4c0,0.8-0.6,1.4-1.4,1.4H1.5c-0.8,0-1.5,0.7-1.5,1.5
						c0,0.8,0.7,1.5,1.5,1.5h3v2.6h3.1c0.8,0,1.4,0.6,1.4,1.4c0,0.8-0.6,1.4-1.4,1.4H1.5c-0.8,0-1.5,0.7-1.5,1.5c0,0.8,0.7,1.5,1.5,1.5h3
						v1c0,2.8,2.2,5,5,5H30C32.8,34.3,35,32.1,35,29.3z"/>
					</svg>
					<p>ADDRESS BOOK</p>
				</a>
				
			</li>
			<li>
				<a ui-sref="orderHistory({userID:buildOrderLeft.list.ID, search:'false'})">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 28 36" style="enable-background:new 0 0 28 36;" xml:space="preserve">
				<g>
					<path  d="M6.5,7.9h15.6c0.3,0,0.5-0.2,0.5-0.5V4.8c0-1-0.8-1.8-1.8-1.8H18c-0.2,0-0.3-0.1-0.4-0.3
						c-0.4-1.5-1.8-2.6-3.4-2.6s-3,1.1-3.4,2.6C10.9,2.9,10.7,3,10.5,3H7.8C6.8,3,6,3.8,6,4.8v2.6C6,7.7,6.3,7.9,6.5,7.9z M14.3,1.7
						c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2s-2-0.9-2-2S13.2,1.7,14.3,1.7z"/>
					<path  d="M26.8,5.8h-1.7c-0.4,0-0.6,0.3-0.6,0.6v1c0,1.4-1.1,2.5-2.5,2.5H6.5C5.1,9.9,4,8.8,4,7.4v-1
						C4,6,3.8,5.8,3.4,5.8H1.8C1.4,5.8,1.2,6,1.2,6.4v28.8c0,0.4,0.3,0.6,0.6,0.6h25.1c0.4,0,0.6-0.3,0.6-0.6V6.4
						C27.5,6.1,27.2,5.8,26.8,5.8z"/>
				</g>
				</svg>
				<p>ORDER HISTORY</p>
				</a>
				
			</li>
			<li>
				<a ng-click="buildOrderLeft.paymentmodal()">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 32 24" style="enable-background:new 0 0 32 24;" xml:space="preserve">
				<g>
					<g>
						<path d="M31.5,5V3.3c0-1.6-1.3-2.9-2.9-2.9H3.4c-1.6,0-2.9,1.3-2.9,2.9V5H31.5z"/>
						<path d="M0.5,10.1v10.6c0,1.6,1.3,2.9,2.9,2.9h25.3c1.6,0,2.9-1.3,2.9-2.9V10.1H0.5z M15.6,19.4H4.7
							c-0.6,0-1.1-0.5-1.1-1.1c0-0.6,0.5-1.1,1.1-1.1h10.9c0.6,0,1.1,0.5,1.1,1.1C16.6,18.9,16.2,19.4,15.6,19.4z M27.4,15.3H4.7
							c-0.6,0-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1h22.7c0.6,0,1.1,0.5,1.1,1.1C28.5,14.9,28,15.3,27.4,15.3z"/>
					</g>
				</g>
				</svg>
				<p>PAYMENT METHODS</p>
				</a>
				
			</li>
		</ul>
		<div class="create-note">
			<h4 ng-if="buildOrderLeft.list.Notes.length > 0">Notes (<span>{{buildOrderLeft.list.Notes.length}}</span>)</h4>
			<h4 ng-if="buildOrderLeft.list.Notes.length == 0">Notes (<span>0</span>)</h4>
			<button ng-click="noteinput(); note.descp=''" ng-disabled="buildOrderLeft.guest">Add Note</button>
		</div>
		<ul class="order-messages">
			<form ng-submit="addNote(); note.descp=''" ng-show="show">
				<input type="text" ng-model="note.descp" placeholder="New Note" id="addNote" ng-required/>
			</form>
			<li ng-repeat="note in buildOrderLeft.list.Notes | limitTo: itemsLimit() track by $index">
				<div class="noteMsg">
					<p>{{note.Date | date:'MM/dd/yyyy'}}</p>
					<h5>{{note.Description}}</h5>
				</div>					
				<a href="javascript:void(0)" popover-trigger="none" popover-is-open="buildOrderLeft.showDeliveryToolTip{{$index}}" ng-click="buildOrderLeft.showDeleteToolTip($index)" uib-popover-template="deleteNote.templateUrl"><img src="../assets/images/icons-svg/cancel.svg"></a>
			</li>
		</ul>
		<script type="text/ng-template" id="deleteNote.html">
				<div click-outside="closePopover($index)">
					<h2>Are you sure to delete?</h2>
					<button type="button" ng-click="remove($index)">Yes</button>
					<button type="button" ng-click="cancelPopUp($index)">No</button>
				</div>
		</script>
		<a href="javascript: void(0)" ng-show="hasMoreItemsToShow()"  ng-click="showMoreItems()">View All Notes</a>
	</div>
	<div class="guestbtn" ng-if="buildOrderLeft.guest">
		<button ng-click="buildOrder.guestUserModal=!buildOrder.guestUserModal">Customer Details</button>
	</div>
</div>
<modal title="Payment Method - Credit Card" visible="showpayment" id="paymentmethod" class="modal-pop-up payment-method">
	<!-- <h3>Credit Card</h3> -->
	<table>
		<tr>
			<th></th>
			<th>Card Image</th>
			<th>Card Number</th>
			<th>Name On Card</th>
			<th>Expiration Date</th>
		</tr>
		<div class=" payment-container">
			<tr ng-repeat="card in buildOrderLeft.cclist" ng-if="card">
				<td>
						<!-- <input type="radio" ng-model="buildOrderLeft.defaultUserCardID" name="rad" ng-click="buildOrderLeft.makedefaultcard(card.ID)" value="{{card.ID}}"> -->
						<div class="radio-btn-container" ng-if="buildOrderLeft.defaultUserCardID==card.ID">
							<div class="size-box col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<input type="radio" id="default" name="rad" 
								ng-model="buildOrderLeft.defaultUserCardID" value="{{card.ID}}">
								<label for="default">
									<span class="radioOutline">
									<span class="radioInside"></span>
									</span>
									<span class="default-pay">Default</span>
								</label>
							</div>
						</div>
						<div class="radio-btn-container" ng-if="buildOrderLeft.defaultUserCardID!=card.ID">
							<div class="size-box col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<input type="radio" id="mkDefault" name="mkDefault" 
								ng-model="buildOrderLeft.defaultUserCardID" value="{{card.ID}}">
								<label for="mkDefault">
									<span class="radioOutline">
									<span class="radioInside"></span>
									</span>
									<span class="default-pay">Make Default</span>
								</label>
							</div>
						</div>
				</td>
				<td>	
					<img src="../assets/images/{{card.CardType}}.svg" class="visa-icon" />
				</td>
				<td>
					<p class="addr-line1">XXXX XXXX XXXX {{card.PartialAccountNumber}}</p>
				</td>			
				<td>
					<p class="value">{{card.CardholderName}}</p>
				</td>
				<td>
					<p class="value">{{card.ExpirationDate | date: 'MM/yy' : 'UTC' }}</p>
				</td>
			</tr>
		</div>
	</table>
	<!-- <h3>Credit Cards</h3>
	<div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 credit-card-list-item" ng-repeat="card in buildOrderLeft.cclist" ng-if="card">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 default-payment">
                <p class="title" ng-if="buildOrderLeft.defaultUserCardID==card.ID">Default Payment</p>
                <p class="title" ng-if="buildOrderLeft.defaultUserCardID!=card.ID">Make Default Payment</p>
                <div class="Checkbox">
                  <input type="radio" ng-model="buildOrderLeft.defaultUserCardID" name="rad" ng-click="buildOrderLeft.makedefaultcard(card.ID)" value="{{card.ID}}">
                  <div class="Checkbox-visible"></div> 
               </div>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-1 col-lg-1 visa">
                <img src="../assets/images/{{card.CardType}}.svg" class="visa-icon" />
            </div>
            <div class="col-xs-10 col-sm-4 col-md-3 col-lg-3 cr-card-num">
                <p class="title">Card Number</p>
                <p class="addr-line1">XXXX XXXX XXXX {{card.PartialAccountNumber}}</p>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-2 col-lg-3 cr-card-name">
                <p class="title">Name On Card</p>
                <p class="value">{{card.CardholderName}}</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 expiry-date">
                <p class="title">Expiration Date</p>
                <p class="value">{{card.ExpirationDate | date: 'MM/yy' : 'UTC' }}</p>
            </div>
        </div>
	</div> -->
</modal>