<!-- <div class="oms_main_container" ng-show='showplp'>
	<h1 ng-if="buildOrder.searchVal">Search Results for <span>"{{buildOrder.searchVal}}"</span> <span class="count">({{buildOrder.prodlist.Items.length}} products)</span></h1>
	<ul class="plp-container">
	    <li class="col-md-3" ng-repeat="products in buildOrder.prodlist.Items track by $index">
	        <div class="plp-block" ng-click="buildOrder.productdata(products.ID)">
	            <div class="product_img"></div>
				<div class="plp-product-data">
					<h2>{{products.Name}}</h2>
					<h3>Option Deluxe</h3>
					<h4>Color Red</h4>
				</div>
	            <div class="price_lst" ng-repeat="pricelist in products.StandardPriceSchedule.PriceBreaks">
	                <h5>{{pricelist.Price | currency}}</h5>
	            </div>
	        </div>
	    </li>
	</ul>
</div> -->

<!-- buildorder search starts -->
<div cg-busy="{promise:buildOrder.PLPLoader,templateUrl:'common/loading-indicators/templates/view.loading.tpl.html'}"></div>
<div class="oms_main_container" ng-show='showplp'>
	<article id="COMPONENT_buildyourown" class="build-your-own-page" cont-top-padding ng-style="{'padding-top': pageTopPadding + 'px'}" ng-if="buildOrder.buildYourOwnData">
    <div class="container-fluid ">
        <div class="instructions">
            <h1 class="pageTitle heading">Build Your Own Corsage/Boutonniere</h1>
            <div class="row design-recommendation-block">
                <h2 class="subTitle">Design Recommendations</h2>
                <h3 class="terms-italic">When ordering formal flowers, consider the following</h3>
                <ol>
                    <li><span>Dress Color:</span> Pick flower colors that complement the color of your dress.</li>
                    <li><span>Flower Type:</span> Look for types of flowers that most reflect the theme of your occasion, your personality or dress style.
                    </li>
                    <li><span>Wristlet Style:</span> Choose a wristlet that best matches your style of dress and coordinate with your other accessories.
                    </li>
                    <li><span>Personality:</span> Consider adding extra "bling" to your corsage such as gems, a wristlet or ribbon.</li>
                    <li><span>Matching Boutonniere:</span> It's easiest to match his boutonniere to your chosen corsage, rather than the other way around.
                    </li>
                </ol>
            </div>
        </div>
        <div class="row page-body">
            <!--Options-->
            <div class="col-lg-8 left-panel">
                <div class="panel-group">
                    <!--Select Type-->
                    <div class="panel panel-default">
                        <div class="panel-heading" ng-click="buildOrderPLP.showType = !buildOrderPLP.showType">
                            <div class="row select-type">
                                <div class="col-md-4">
                                    Select Type
                                </div>
                                <div class="col-md-8 text-right">
                                    {{buildOrderPLP.itemCreated.Type}}
                                </div>
                            </div>
                        </div>
                        <!--This is select Type Body-->
                        <div class="panel-body" uib-collapse="buildOrderPLP.showType">
                            <div class="col-md-4 panel-item" ng-repeat="type in buildOrderPLP.categories" ng-click="buildOrderPLP.typeSelected(type)">
                                <div class="thumbnail">
                                    <img src="{{buildOrderPLP.imgFinderUrl}}{{type.ParentID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}" alt="{{type.xp.WebFacingProductTitle | capitalize}}">
                                    <div class="caption">
                                        <h3 class="pdt-name" ng-if="type.xp.WebFacingProductTitle">{{type.xp.WebFacingProductTitle | capitalize}}</h3>
                                        <h3 class="pdt-name" ng-if="!type.xp.WebFacingProductTitle">{{type.Name}}</h3>
                                        <span class="pdt-price">Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt0 inner-panel">
                        <div class="panel-body">
                            <div class="panel panel-default" ng-repeat="type in buildOrderPLP.typeChosen.Options" ng-init="outerIndex = $index">
                                <div class="panel-heading" ng-if="type.xp.WebFacingProductTitle" ng-click="buildOrderPLP.setCollapse(type)">
                                    {{type.xp.WebFacingProductTitle | capitalize}} {{$index}} {{!buildOrderPLP[type.ID].isNavCollapsed}}
                                </div>
                                <div class="panel-heading" ng-if="!type.xp.WebFacingProductTitle" ng-click="buildOrderPLP.setCollapse(type)">
                                    {{type.Name}}
                                </div>
                                <div class="panel-body" uib-collapse="!buildOrderPLP[type.ID].isNavCollapsed">
                                    <!-- BASE PRODUCT CHOICES-->
                                    <div ng-if="type.Products">
                                        <div class="col-md-4 panel-item" ng-repeat="product in type.Products" ng-click="buildOrderPLP.addSelection(product, type, buildOrderPLP.typeChosen.Options, $parent.$index)">
                                            <div class="thumbnail">
                                                <img src="{{buildOrderPLP.imgFinderUrl}}{{product.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}" alt="{{product.xp.WebFacingProductTitle}}">
                                                <div class="caption">
                                                    <h5 class="pdt-name" ng-if="product.xp.WebFacingProductTitle">{{product.xp.WebFacingProductTitle | capitalize}}</h5>
                                                    <h5 class="pdt-name" ng-if="!product.xp.WebFacingProductTitle">{{product.Name}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--FLOWER CHOICE SUBCATEGORY-->
                                    <div class="col-md-4 panel-item" ng-repeat="subcategory in type.SubCategories" ng-if="type.Name == 'Base Flower Choices for Wristlet' || type.Name == 'Base Flower Choices for PinOn' || type.Name == 'Base Flower Choices for Bout'">
                                        <div class="thumbnail" ng-click="buildOrderPLP.addSelection(subcategory,type,buildOrderPLP.typeChosen.Options, outerIndex)">
                                            <img src="{{buildOrderPLP.imgFinderUrl}}{{subcategory.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}" alt="{{subcategory.Name}}">
                                            <div class="caption">
                                                <h5 class="pdt-name">{{subcategory.Name}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!--OPTIONAL ADD ON SUBCATEGORY-->
                                    <div class="panel panel-default" ng-repeat="subcategory in type.SubCategories" ng-init="optionalAddOn = $index" ng-if="!(type.Name == 'Base Flower Choices for Wristlet' || type.Name == 'Base Flower Choices for PinOn' || type.Name == 'Base Flower Choices for Bout')">
                                        <div class="panel-heading" ng-click="buildOrderPLP.setCollapse(subcategory)">
                                            <h4>{{subcategory.Name}}</h4>
                                        </div>
                                        <div class="panel-body" uib-collapse="!buildOrderPLP[subcategory.ID].isNavCollapsed">
                                            <div ng-if="subcategory.Products">
                                                <div class="col-md-4 panel-item" ng-repeat="product in subcategory.Products" ng-click="buildOrderPLP.addSelection(product, subcategory )" ng-if="subcategory.Products.length > 0">
                                                    <div class="thumbnail">
                                                        <img src="{{buildOrderPLP.imgFinderUrl}}{{product.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}" alt="{{product.xp.WebFacingProductTitle}}">
                                                        <div class="caption">
                                                            <h5 class="pdt-name" ng-if="product.xp.WebFacingProductTitle">{{product.xp.WebFacingProductTitle | capitalize}}</h5>
                                                            <h5 class="pdt-name" ng-if="!product.xp.WebFacingProductTitle">{{product.Name}}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 not-found" ng-if="subcategory.Products.length == 0">
                                                    <p>No Products Found</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--OPTIONAL FOR ALL TYPES-->
                                    <div class="panel panel-default" ng-repeat="option in type.Options">
                                        <!--ng-if="type.Name !== 'Base Flower Choices'"-->
                                        <div class="panel-heading" ng-click="buildOrderPLP.setCollapse(option)">
                                            <h4>{{option.Name}}</h4>
                                        </div>
                                        <div class="panel-body" uib-collapse="!buildOrderPLP[option.ID].isNavCollapsed">
                                            <!--Products that are on First level Of Categories-->
                                            <div ng-if="option.Products">
                                                <div class="col-md-4 panel-item" ng-repeat="product in option.Products" ng-click="buildOrderPLP.addSelection(product, option)" ng-if="option.Products.length > 0">
                                                    <div class="thumbnail">
                                                        <img src="{{buildOrderPLP.imgFinderUrl}}{{product.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}" alt="{{product.xp.WebFacingProductTitle}}">
                                                        <div class="caption">
                                                            <h5 class="pdt-name" ng-if="product.xp.WebFacingProductTitle">{{product.xp.WebFacingProductTitle | capitalize}}</h5>
                                                            <h5 class="pdt-name" ng-if="!product.xp.WebFacingProductTitle">{{product.Name}}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 not-found" ng-if="option.Products.length == 0">
                                                    <p>No Products Found</p>
                                                </div>
                                            </div>
                                            <div ng-if="option.SubCategories && option.SubCategories.length > 0">
                                                <div class="panel panel-default" ng-repeat="category in option.SubCategories" ng-click="buildOrderPLP.addSelection(category, option,$index)">
                                                    <div class="panel-heading" ng-click="buildOrderPLP.setCollapse(category)">
                                                        <h4>{{category.Name}}</h4>
                                                    </div>
                                                    <div class="panel-body" uib-collapse="!buildOrderPLP[category.ID].isNavCollapsed">
                                                        <div ng-if="category.Products">
                                                            <div class="col-md-4 panel-item" ng-repeat="product in category.Products" ng-click="buildOrderPLP.addSelection(product, category)" ng-if="category.Products.length > 0">
                                                                <div class="thumbnail">
                                                                    <img src="{{buildOrderPLP.imgFinderUrl}}{{product.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}" alt="{{product.xp.WebFacingProductTitle}}">
                                                                    <div class="caption">
                                                                        <h5 class="pdt-name" ng-if="product.xp.WebFacingProductTitle">{{product.xp.WebFacingProductTitle | capitalize}}</h5>
                                                                        <h5 class="pdt-name" ng-if="!product.xp.WebFacingProductTitle">{{product.Name}}</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 not-found" ng-if="option.SubCategories.length > 0">
                                                                <p>No Products Found</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 not-found" ng-if="option.SubCategories.length == 0">
                                                <P>No Sub Categories Found</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Custom Corsage Queue-->
            <div class="col-lg-4 right-panel">
                <div class="panel-group" ng-if="buildOrderPLP.customQueueDisplay">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Build Your Own: <span class="selected">{{buildOrderPLP.typeChosen.Name}}</span></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div ng-repeat="selection in buildOrderPLP.itemCreated.selectionsMade" class="selection col-xs-12 p0">
                                    <div class="row">
                                    <div class="col-md-10 name">
                                        <p class="pdt-name">{{selection.Type}}:{{selection.Name}}</p>
                                        <p class="price">{{selection.Price | currency}}</p>
                                    </div>
                                    <div class="col-md-2 close-icon">
                                        <span ng-click="buildOrderPLP.removeSelection(selection)">
                                            <img src="../assets/images/icons-svg/cancel.svg">
                                        </span>
                                        <!-- <i class="fa fa-remove" ng-click="buildOrderPLP.removeSelection(selection)"></i> -->
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-block">
                                <p class="total-title">Total: </p>
                                <p ng-if="buildOrderPLP.itemCreated.totalPrice" class="total-price">
                                    {{buildOrderPLP.itemCreated.totalPrice | currency}}
                                </p>
                                <button class="btn add-to-cart" ng-if="buildOrderPLP.requirementsMetForMVP" ng-click="buildOrderPLP.addToCart()">Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</article>

	<div ng-if="buildOrder.searchval.length > 2" ng-init="buildOrder.cleardata()">
		<h1 ng-if="buildOrder.searchval.length > 2 && buildOrder.buildorderSearch[0].length != 0">Search Results for <span>"{{buildOrder.searchval}}"</span> <span class="count">({{buildOrder.buildorderSearch[1]}} products)</span></h1>
		<h1 ng-if="buildOrder.buildorderSearch[0].length == 0 && buildOrder.searchval.length > 2">No results found for <span>"{{buildOrder.searchval}}"</span></h1>
		<ul class="plp-container">
			<li class="col-md-4 plp-block-main" ng-repeat="products in buildOrder.buildorderSearch[0] track by $index" ng-if="buildOrder.searchval.length > 0" >
				<span class="events" ng-if="products.IsWorkShopEvent"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="33 -34 100 100" style="enable-background:new 33 -34 100 100;" xml:space="preserve">
	
<g>
	<g>
		<g>
			<g>
				<path d="M55,59.5c-6.2,0-11.3-5.1-11.3-11.3v-56c0-6.2,5.1-11.3,11.3-11.3h8c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3h-8
					c-4.8,0-8.7,3.9-8.7,8.7v56c0,4.8,3.9,8.7,8.7,8.7h43.5l21.2-19.3V-7.8c0-4.8-3.9-8.7-8.7-8.7h-8c-0.7,0-1.3-0.6-1.3-1.3
					s0.6-1.3,1.3-1.3h8c6.2,0,11.3,5.1,11.3,11.3v46.6L99.5,59.5H55z"/>
			</g>
		</g>
		<g>
			<g>
				<path d="M71-16.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h24c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H71z"/>
			</g>
		</g>
		<g>
			<g>
				<path d="M65-9.5c-1.8,0-3.3-1.5-3.3-3.3v-10c0-1.8,1.5-3.3,3.3-3.3h4c1.8,0,3.3,1.5,3.3,3.3v10c0,1.8-1.5,3.3-3.3,3.3H65z
					 M65-23.5c-0.4,0-0.7,0.3-0.7,0.7v10c0,0.4,0.3,0.7,0.7,0.7h4c0.4,0,0.7-0.3,0.7-0.7v-10c0-0.4-0.3-0.7-0.7-0.7H65z"/>
			</g>
		</g>
		<g>
			<path d="M97-9.5c-1.8,0-3.3-1.5-3.3-3.3v-10c0-1.8,1.5-3.3,3.3-3.3h4c1.8,0,3.3,1.5,3.3,3.3v10c0,1.8-1.5,3.3-3.3,3.3H97z
				 M97-23.5c-0.4,0-0.7,0.3-0.7,0.7v10c0,0.4,0.3,0.7,0.7,0.7h4c0.4,0,0.7-0.3,0.7-0.7v-10c0-0.4-0.3-0.7-0.7-0.7H97z"/>
		</g>
		<g>
			<g>
				<path d="M45-2.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h75c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H45z"/>
			</g>
		</g>
		<g>
			<g>
				<path d="M99,59.5c-0.7,0-1.3-0.6-1.3-1.3v-10c0-6.2,5.1-11.3,11.3-11.3h12c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3h-12
					c-4.8,0-8.7,3.9-8.7,8.7v10C100.3,58.9,99.7,59.5,99,59.5z"/>
			</g>
		</g>
		<g>
			<path d="M79.7,12.9c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h30c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H79.7z"/>
		</g>
		<g>
			<path d="M57.7,23.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h36c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H57.7z"/>
		</g>
		<g>
			<path d="M57.7,35.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h33c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H57.7z"/>
		</g>
		<g>
			<path d="M57.7,29.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h29c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H57.7z"/>
		</g>
		<g>
			<g>
				<polygon points="61.8,16.2 67.7,4.5 63.6,4.5 63.6,6.3 60.8,6.3 60.8,1.9 71.4,1.9 71.4,3.8 65.2,16.2 				"/>
			</g>
		</g>
	</g>
</g>
</svg>
<span>event</span></span>
				<div class="plp-block" ng-click="buildOrder.prouctsList(products)">
					<div class="product_img">
						<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{products.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
					</div>
					<div class="plp-product-data">
						<h2 ng-if="products.Title">{{products.Title}}</h2>
						<h2 ng-if="products.Title==undefined || products.Title=='null' || products.Title==''">{{products.Name}}</h2>
						<h3 ng-if="!products.IsWorkShopEvent"><span class="variant" ng-if="products.Size!='' && products.Size!=null">Size</span> <span class="variant1">{{products.Size}}</span></h3>
						<h4 ng-if="!products.IsWorkShopEvent"><span class="variant" ng-if="products.Color!='' && products.Color!=null">Color</span> <span class="variant1">{{products.Color}}</span></h4>
						<h3 ng-if="products.IsWorkShopEvent"><span class="variant" ng-if="products.Size!='' && products.Size!=null">Start</span> <span class="variant1">{{products.Size}}</span></h3>
						<h4 ng-if="products.IsWorkShopEvent"><span class="variant" ng-if="products.Color!='' && products.Color!=null">End</span> <span class="variant1">{{products.Color}}</span></h4>
						<div class="price_lst">
							<h5>{{products.Price | currency}}</h5>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- product Searched results -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'Products' &&  buildOrder.searchList[0].length >= 0">
		<h1 ng-if="buildOrder.searchList[0].length > 0">Search Results for <span>"{{buildOrder.searchTxt}}"</span> <span class="count">({{buildOrder.searchList[1]}} products)</span></h1>
		<!-- <h1 ng-if="buildOrder.searchList.length == 0">No results found for <span>"{{buildOrder.searchTxt}}"</span></h1> -->
		<ul class="plp-container">
			<li class="col-md-4 plp-block-main" ng-repeat="prod in buildOrder.searchList[0] track by $index">
			<span class="events" ng-if="prod.IsWorkShopEvent"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="33 -34 100 100" style="enable-background:new 33 -34 100 100;" xml:space="preserve">
					
				<g>
					<g>
						<g>
							<g>
								<path d="M55,59.5c-6.2,0-11.3-5.1-11.3-11.3v-56c0-6.2,5.1-11.3,11.3-11.3h8c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3h-8
									c-4.8,0-8.7,3.9-8.7,8.7v56c0,4.8,3.9,8.7,8.7,8.7h43.5l21.2-19.3V-7.8c0-4.8-3.9-8.7-8.7-8.7h-8c-0.7,0-1.3-0.6-1.3-1.3
									s0.6-1.3,1.3-1.3h8c6.2,0,11.3,5.1,11.3,11.3v46.6L99.5,59.5H55z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M71-16.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h24c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H71z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M65-9.5c-1.8,0-3.3-1.5-3.3-3.3v-10c0-1.8,1.5-3.3,3.3-3.3h4c1.8,0,3.3,1.5,3.3,3.3v10c0,1.8-1.5,3.3-3.3,3.3H65z
									 M65-23.5c-0.4,0-0.7,0.3-0.7,0.7v10c0,0.4,0.3,0.7,0.7,0.7h4c0.4,0,0.7-0.3,0.7-0.7v-10c0-0.4-0.3-0.7-0.7-0.7H65z"/>
							</g>
						</g>
						<g>
							<path d="M97-9.5c-1.8,0-3.3-1.5-3.3-3.3v-10c0-1.8,1.5-3.3,3.3-3.3h4c1.8,0,3.3,1.5,3.3,3.3v10c0,1.8-1.5,3.3-3.3,3.3H97z
								 M97-23.5c-0.4,0-0.7,0.3-0.7,0.7v10c0,0.4,0.3,0.7,0.7,0.7h4c0.4,0,0.7-0.3,0.7-0.7v-10c0-0.4-0.3-0.7-0.7-0.7H97z"/>
						</g>
						<g>
							<g>
								<path d="M45-2.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h75c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H45z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M99,59.5c-0.7,0-1.3-0.6-1.3-1.3v-10c0-6.2,5.1-11.3,11.3-11.3h12c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3h-12
									c-4.8,0-8.7,3.9-8.7,8.7v10C100.3,58.9,99.7,59.5,99,59.5z"/>
							</g>
						</g>
						<g>
							<path d="M79.7,12.9c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h30c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H79.7z"/>
						</g>
						<g>
							<path d="M57.7,23.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h36c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H57.7z"/>
						</g>
						<g>
							<path d="M57.7,35.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h33c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H57.7z"/>
						</g>
						<g>
							<path d="M57.7,29.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h29c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H57.7z"/>
						</g>
						<g>
							<g>
								<polygon points="61.8,16.2 67.7,4.5 63.6,4.5 63.6,6.3 60.8,6.3 60.8,1.9 71.4,1.9 71.4,3.8 65.2,16.2 				"/>
							</g>
						</g>
					</g>
				</g>
				</svg>
				<span>event</span></span>
				<div class="plp-block">
					<div ng-click="buildOrder.prouctsList(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{prod.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp" ng-if="prod.Title">{{prod.Title}}</h2>
							<h2 class="product-name-plp" ng-if="prod.Title==undefined || prod.Title=='null' || prod.Title==''">{{prod.Name}}</h2>
							<h3 ng-if="!prod.IsWorkShopEvent"><span class="variant" ng-if="prod.Size!='' && prod.Size!=null">Size</span> <span class="variant1">{{prod.Size}}</span></h3>
							<h4 ng-if="!prod.IsWorkShopEvent"><span class="variant" ng-if="prod.Color!='' && prod.Color!=null">Color </span><span class="variant1">{{prod.Color}}</span></h4>
							<h3 ng-if="prod.IsWorkShopEvent"><span class="variant" ng-if="prod.Size!='' && prod.Size!=null">Start</span> <span class="variant1">{{prod.Size}}</span></h3>
							<h4 ng-if="prod.IsWorkShopEvent"><span class="variant" ng-if="prod.Color!='' && prod.Color!=null">End </span><span class="variant1">{{prod.Color}}</span></h4>
							<div class="price_lst">
								<h5 class="Price">{{prod.Price | currency}}</h5>
							</div>	
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- direct pdp- product Searched results based on sequence number -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'PDP' && buildOrder.searchSeqList.length>0">
		<h1 ng-if="buildOrder.searchSeqList.length > 0">Search Results for <span>"{{buildOrder.prodName}}"</span></h1>
		<!-- <h1 ng-if="buildOrder.searchSeqList.length == 0">No results found for <span>"{{buildOrder.searchTxt}}"</span></h1> -->
		<ul class="plp-container">
			<li class="col-md-4 plp-block-main" ng-repeat="prod in buildOrder.searchSeqList track by $index">
			<span class="events" ng-if="prod.xp.IsWorkShopEvent"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="33 -34 100 100" style="enable-background:new 33 -34 100 100;" xml:space="preserve">
					
				<g>
					<g>
						<g>
							<g>
								<path d="M55,59.5c-6.2,0-11.3-5.1-11.3-11.3v-56c0-6.2,5.1-11.3,11.3-11.3h8c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3h-8
									c-4.8,0-8.7,3.9-8.7,8.7v56c0,4.8,3.9,8.7,8.7,8.7h43.5l21.2-19.3V-7.8c0-4.8-3.9-8.7-8.7-8.7h-8c-0.7,0-1.3-0.6-1.3-1.3
									s0.6-1.3,1.3-1.3h8c6.2,0,11.3,5.1,11.3,11.3v46.6L99.5,59.5H55z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M71-16.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h24c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H71z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M65-9.5c-1.8,0-3.3-1.5-3.3-3.3v-10c0-1.8,1.5-3.3,3.3-3.3h4c1.8,0,3.3,1.5,3.3,3.3v10c0,1.8-1.5,3.3-3.3,3.3H65z
									 M65-23.5c-0.4,0-0.7,0.3-0.7,0.7v10c0,0.4,0.3,0.7,0.7,0.7h4c0.4,0,0.7-0.3,0.7-0.7v-10c0-0.4-0.3-0.7-0.7-0.7H65z"/>
							</g>
						</g>
						<g>
							<path d="M97-9.5c-1.8,0-3.3-1.5-3.3-3.3v-10c0-1.8,1.5-3.3,3.3-3.3h4c1.8,0,3.3,1.5,3.3,3.3v10c0,1.8-1.5,3.3-3.3,3.3H97z
								 M97-23.5c-0.4,0-0.7,0.3-0.7,0.7v10c0,0.4,0.3,0.7,0.7,0.7h4c0.4,0,0.7-0.3,0.7-0.7v-10c0-0.4-0.3-0.7-0.7-0.7H97z"/>
						</g>
						<g>
							<g>
								<path d="M45-2.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h75c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H45z"/>
							</g>
						</g>
						<g>
							<g>
								<path d="M99,59.5c-0.7,0-1.3-0.6-1.3-1.3v-10c0-6.2,5.1-11.3,11.3-11.3h12c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3h-12
									c-4.8,0-8.7,3.9-8.7,8.7v10C100.3,58.9,99.7,59.5,99,59.5z"/>
							</g>
						</g>
						<g>
							<path d="M79.7,12.9c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h30c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H79.7z"/>
						</g>
						<g>
							<path d="M57.7,23.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h36c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H57.7z"/>
						</g>
						<g>
							<path d="M57.7,35.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h33c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H57.7z"/>
						</g>
						<g>
							<path d="M57.7,29.5c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3h29c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3H57.7z"/>
						</g>
						<g>
							<g>
								<polygon points="61.8,16.2 67.7,4.5 63.6,4.5 63.6,6.3 60.8,6.3 60.8,1.9 71.4,1.9 71.4,3.8 65.2,16.2 				"/>
							</g>
						</g>
					</g>
				</g>
				</svg>
				<span>event</span></span>
				<div class="plp-block">
					<div ng-click="buildOrder.showProduct(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{prod.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp" ng-if="prod.Title"><span>{{prod.Title}}</span></h2>
							<h2 class="product-name-plp" ng-if="prod.Title==undefined || prod.Title=='null' || prod.Title==''">{{prod.Name}}</h2>
							<h3 ng-if="prod.xp.IsWorkShopEvent==false"><span class="variant" ng-if="prod.xp.SpecsOptions.Size!='' && prod.xp.SpecsOptions.Size!=null">Size </span><span class="variant1">{{prod.xp.SpecsOptions.Size}}</span></h3>
							<h4 ng-if="prod.xp.IsWorkShopEvent==false"><span class="variant" ng-if="prod.xp.SpecsOptions.Color!='' && prod.xp.SpecsOptions.Color!=null">Color</span> <span class="variant1">{{prod.xp.SpecsOptions.Color}}</span></h4>
							<h3 ng-if="prod.xp.IsWorkShopEvent"><span class="variant" ng-if="prod.xp.SpecsOptions.Size!='' && prod.xp.SpecsOptions.Size!=null">Start </span><span class="variant1">{{prod.xp.SpecsOptions.Size}}</span></h3>
							<h4 ng-if="prod.xp.IsWorkShopEvent"><span class="variant" ng-if="prod.xp.SpecsOptions.Color!='' && prod.xp.SpecsOptions.Color!=null">End</span> <span class="variant1">{{prod.xp.SpecsOptions.Color}}</span></h4>
							<div class="price_lst">
								<h5 class="Price">{{prod.StandardPriceSchedule.PriceBreaks[0].Price | currency}}</h5>
							</div>	
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- category Product List starts -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'plp' && buildOrder.catList[0].length>0">
		<h1 ng-if="buildOrder.catList[0].length > 0">Products under the category <span>"{{buildOrder.catName}}"</span> <span class="count">({{buildOrder.catList[1]}} products)</span></h1>
		<!-- <h1 ng-if="buildOrder.catList.length == 0">No Products found</span></h1> -->
		<ul class="plp-container">
			<li class="col-md-4 plp-block-main" ng-repeat="prod in buildOrder.catList[0] track by $index">
				<div class="plp-block">
					<div ng-click="buildOrder.prouctsList(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{prod.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp" ng-if="prod.Title"><span>{{prod.Title}}</span></h2>
							<h2 class="product-name-plp" ng-if="prod.Title==undefined || prod.Title=='null' || prod.Title==''">{{prod.Name}}</h2>
							<h3><span class="variant" ng-if="prod.Size!='' && prod.Size!=null">Size</span> <span class="variant1">{{prod.Size}}</span></h3>
							<h4><span class="variant" ng-if="prod.Color!='' && prod.Color!=null">Color</span> <span class="variant1">{{prod.Color}}</span></h4>
							<div class="price_lst">
								<h5 class="Price">{{prod.Price | currency}}</h5>
							</div>	
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- ELP starts -->
	<div class="home-search-list workshop-elp-main" ng-if="buildOrder.searchType=='elp' && buildOrder.elpLists.length>0">
		<h1 ng-if="buildOrder.elpLists.length > 0">Events under the category <span>"{{buildOrder.catName}}"</span> <span class="count">({{buildOrder.elpLists[1]}} events)</span></h1>
		<ul class="row">
			<li ng-repeat="event in buildOrder.elpLists[0] track by $index" class="col-xs-12 event-item">
				<div class="event-img col-xs-4">
					<img ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{event.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}" class="img-responsive">
				</div>
				<div class="event-details col-xs-8">
					<h1>{{event.Name}}</h1>
					<p>{{event.Description}}</p>
					<a class="more-details-link" ng-click="buildOrder.GetSkuevents(event.xp.ProductCode, event.ID)">More details</a>
					<a ng-if="!event.xp.IsWorkshop" class="public-link">OPEN TO THE PUBLIC & FREE TO ATTEND</a>
					<!-- <h2 ng-if="event.xp.IsWorkshop" class="price">{{event.StandardPriceSchedule.PriceBreaks[0].Price}}</h2> -->
						<h2 ng-if="event.xp.IsWorkshop" ng-repeat="eventPrice in event.StandardPriceSchedule.PriceBreaks" class="price">
							<span class="prod-price">{{eventPrice.Price | currency}}</span>
						</h2>
					<div class="abs-bottom">
						<!-- <h3>{{event.xp.EventDate | date:'MMM'}} {{event.xp.EventDate | date:'dd'}}</h3> -->
						<h3 class="date">
							{{event.xp.EventDate | date:'MMM'}} {{event.xp.EventDate | date:'dd'}}
	<!-- 						<span class="time"><span class="day">Saturday</span>
							<span class="timings">
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
								<span class="etime">2:00 PM - 4:00 PM</span>
							</span>
						</span> -->
						</h3>
						<div class="btn-grp">
							<!-- <button class="lightgray-btn">ADD TO CALENDAR</button> -->
							<button ng-if="event.xp.IsWorkshop" class="green-btn" ng-click="buildOrder.GetSkuevents(event.xp.ProductCode, event.ID)">Register Now</button>
							<button ng-if="!event.xp.IsWorkshop" class="purple-btn" ng-click="buildOrder.GetSkuevents(event.xp.ProductCode, event.ID)">MORE DETAILS</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="search-container" ng-if="((buildOrder.searchType=='User' || buildOrder.searchType=='BuildOrder')&& buildOrder.searchval.length < 3) || ((buildOrder.searchType=='User' || buildOrder.searchType=='BuildOrder') && buildOrder.searchval==undefined)">
		<p><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1190.6 841.9" style="enable-background:new 0 0 1190.6 841.9;" xml:space="preserve">
	<g>
			<g>
				<path class="search0" d="M441.6,300.3c0-151.2,123-274.3,274.3-274.3c151.2,0,274.3,123,274.3,274.3c0,151.3-123,274.3-274.3,274.3
					C564.6,574.6,441.6,451.6,441.6,300.3z M496.5,300.3c0,121,98.4,219.4,219.4,219.4c121,0,219.4-98.4,219.4-219.4
					S836.9,80.9,715.9,80.9C594.9,80.9,496.5,179.4,496.5,300.3z"/>
				<path class="search1" d="M503.9,126.5c-38.9,47.4-62.3,107.9-62.3,173.9c0,151.3,123,274.3,274.3,274.3c65.9,0,126.5-23.4,173.8-62.3
					c38.9-47.4,62.3-107.9,62.3-173.9c0-151.2-123-274.3-274.3-274.3C611.9,64.2,551.3,87.6,503.9,126.5z M458.4,338.5
					c0-70.2,33.3-132.6,84.7-172.8C583.3,114.2,645.7,81,715.9,81c121,0,219.4,98.4,219.4,219.4c0,70.2-33.2,132.6-84.7,172.8
					c-40.2,51.4-102.6,84.7-172.8,84.7C556.8,557.9,458.4,459.4,458.4,338.5z"/>
				<path class="search0" d="M355.9,660.3c-10.7-10.7-10.7-28.1,0-38.8l160-160c10.7-10.7,28.1-10.7,38.8,0c10.7,10.7,10.7,28.1,0,38.8
					l-160,160c-5.3,5.3-12.4,8-19.4,8C368.3,668.3,361.3,665.6,355.9,660.3z"/>
				<path class="search2" d="M347.5,613c9.5-9.5,24.8-9.5,34.3,0l21.4,21.4c9.5,9.4,9.5,24.8,0,34.3l-140,140c-9.5,9.5-24.8,9.5-34.3,0
					l-21.4-21.4c-9.5-9.5-9.5-24.8,0-34.3L347.5,613z"/>
			</g>
			<path class="search3" d="M934.6,299.9c0,120.7-98.1,218.8-218.8,218.8c-120.7,0-218.8-98.1-218.8-218.8c0-120.7,98.1-218.8,218.8-218.8
				C836.5,81.1,934.6,179.2,934.6,299.9L934.6,299.9z M934.6,299.9"/>
			<g>
				<defs>
					<rect id="SVGID_1_" x="497" y="80.9" width="437.8" height="438.8"/>
				</defs>
				<clipPath id="SVGID_2_">
					<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
				</clipPath>
				<path class="search4" d="M561.2,145.3c85.4-85.4,223.7-85.4,309.1,0c85.4,85.4,85.4,223.7,0,309.1"/>
			</g>
			<path class="search1" d="M814.3,307.5H617.3c-6,0-11.3-1.5-11.3-7.5c0-6,5.3-7.5,11.3-7.5h197.1c6,0,11.3,1.5,11.3,7.5
				C825.6,306,820.3,307.5,814.3,307.5L814.3,307.5z M814.3,307.5"/>
			<path class="search1" d="M715.8,409c-6,0-7.5-4.5-7.5-11.3V201.4c0-6,1.5-11.3,7.5-11.3c6,0,7.5,4.5,7.5,11.3v197.1
				C723.3,404.5,721.8,409,715.8,409L715.8,409z M715.8,409"/>
		</g>
		</svg>
		</p>
		<p class="search-add">Search and Add</p>
		<p>Search a product to Add to the Order</p>
	</div>
	<div ng-if="totalItems>50 && (buildOrder.searchList[0].length > 0 || buildOrder.catList[0].length>0)">
		<uib-pagination total-items="totalItems" boundary-link-numbers="true" max-size="maxSize" class="pagination-sm" data-ng-model="currentPage" previous-text="Prev" next-text="Next" items-per-page="itemsPerPage" ng-change="buildOrder.setPagingData(currentPage)"></uib-pagination>
<!-- 		<div>
			show <input type="number" ng-model="buildOrder.noOfHits"> Of {{totalItems}}
		</div> -->
	</div>
	<div ng-if="buildOrder.buildorderSearch[1]>50 && buildOrder.searchval.length > 2">
		<div ng-init="totalItems=buildOrder.buildorderSearch[1]">
		<uib-pagination total-items="totalItems" boundary-link-numbers="true" max-size="maxSize" class="pagination-sm" data-ng-model="currentPage" previous-text="Prev" next-text="Next" items-per-page="itemsPerPage" ng-change="buildOrder.setPagingData(currentPage)"></uib-pagination>
<!-- 		<div>
			show <input type="number" ng-model="buildOrder.noOfHits"> Of {{totalItems}}
		</div> -->
		</div>
	</div>
</div>


