<!-- <div class="oms_main_container" ng-show='showplp'>
	<h1 ng-if="buildOrder.searchVal">Search Results for <span>"{{buildOrder.searchVal}}"</span> <span class="count">({{buildOrder.prodlist.Items.length}} products)</span></h1>
	<ul class="plp-container">
	    <li class="col-md-3" ng-repeat="products in buildOrder.prodlist.Items track by $index">
	        <div class="plp-block" ng-click="buildOrder.productdata(products.ID)">
	            <div class="product_img"></div>
				<div class="plp-product-data">
					<h2>{{products.Name}}</h2>
					<h3>Option Deluxe</h3>
					<h4>Color Red</h4>
				</div>
	            <div class="price_lst" ng-repeat="pricelist in products.StandardPriceSchedule.PriceBreaks">
	                <h5>{{pricelist.Price | currency}}</h5>
	            </div>
	        </div>
	    </li>
	</ul>
</div> -->

<!-- buildorder search starts -->
<div cg-busy="{promise:buildOrder.PLPLoader,templateUrl:'common/loading-indicators/templates/view.loading.tpl.html'}"></div>
<div class="oms_main_container" ng-show='showplp'>
	<div ng-if="buildOrder.searchval.length > 0" ng-init="buildOrder.cleardata()">
		<h1 ng-if="buildOrder.searchval.length > 0 && buildOrder.buildorderSearch.length != 0">Search Results for <span>"{{buildOrder.searchval}}"</span> <span class="count">({{buildOrder.buildorderSearch.length}} products)</span></h1>
		<h1 ng-if="buildOrder.buildorderSearch.length == 0 && buildOrder.searchval.length > 0">No results found for <span>"{{buildOrder.searchval}}"</span></h1>
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="products in buildOrder.buildorderSearch track by $index" ng-if="buildOrder.searchval.length > 0" >
				<div class="plp-block" ng-click="buildOrder.prouctsList(products)">
					<div class="product_img">
						<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{products.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
					</div>
					<div class="plp-product-data">
						<h2>{{products.Name}}</h2>
						<h3><span class="variant">Size</span> <span>{{products.Size}}</span></h3>
						<h4><span class="variant">Color</span> <span>{{products.Color}}</span></h4>
						<div class="price_lst">
							<h5>{{products.Price | currency}}</h5>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- product Searched results -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'Products' &&  buildOrder.searchList.length >= 0">
		<h1 ng-if="buildOrder.searchList.length > 0">Search Results for <span>"{{buildOrder.searchTxt}}"</span> <span class="count">({{buildOrder.searchList.length}} products)</span></h1>
		<!-- <h1 ng-if="buildOrder.searchList.length == 0">No results found for <span>"{{buildOrder.searchTxt}}"</span></h1> -->
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="prod in buildOrder.searchList track by $index">
				<div class="plp-block">
					<div ng-click="buildOrder.prouctsList(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{prod.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp"><span>{{prod.Name}}</span></h2>
							<h3>Color <span>{{prod.Color}}</span></h3>
							<h4>Size <span>{{prod.Size}}</span></h4>
							<div class="price_lst">
								<h5 class="Price">{{prod.Price | currency}}</h5>
							</div>	
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- direct pdp- product Searched results based on sequence number -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'PDP' && buildOrder.searchSeqList.length>0">
		<h1 ng-if="buildOrder.searchSeqList.length > 0">Search Results for <span>"{{buildOrder.prodName}}"</span></h1>
		<!-- <h1 ng-if="buildOrder.searchSeqList.length == 0">No results found for <span>"{{buildOrder.searchTxt}}"</span></h1> -->
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="prod in buildOrder.searchSeqList track by $index">
				<div class="plp-block">
					<div ng-click="buildOrder.showProduct(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{prod.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp"><span>{{prod.Name}}</span></h2>
							<h3>Color <span>{{prod.xp.SpecsOptions.Color}}</span></h3>
							<h4>Size <span>{{prod.xp.SpecsOptions.Size}}</span></h4>
							<div class="price_lst">
								<h5 class="Price">{{prod.StandardPriceSchedule.PriceBreaks[0].Price | currency}}</h5>
							</div>	
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- category Product List starts -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'plp' && buildOrder.catList.length>0">
		<h1 ng-if="buildOrder.catList.length > 0">Products under the category <span>"{{buildOrder.catName}}"</span> <span class="count">({{buildOrder.catList.length}} products)</span></h1>
		<!-- <h1 ng-if="buildOrder.catList.length == 0">No Products found</span></h1> -->
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="prod in buildOrder.catList track by $index">
				<div class="plp-block">
					<div ng-click="buildOrder.prouctsList(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{prod.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp"><span>{{prod.Name}}</span></h2>
							<h3>Color <span>{{prod.Color}}</span></h3>
							<h4>Size <span>{{prod.Size}}</span></h4>
							<div class="price_lst">
								<h5 class="Price">{{prod.Price | currency}}</h5>
							</div>	
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- ELP starts -->
	<div class="home-search-list workshop-elp-main" ng-if="buildOrder.searchType=='elp' && buildOrder.elpLists.length>0">
		<h1 ng-if="buildOrder.elpLists.length > 0">Events under the category <span>"{{buildOrder.catName}}"</span> <span class="count">({{buildOrder.elpLists[1]}} events)</span></h1>
		<ul class="row">
			<li ng-repeat="event in buildOrder.elpLists[0] track by $index" class="col-xs-12 event-item">
				<div class="event-img col-xs-4">
					<img src="/assets/images/purple.png" class="img-responsive">
				</div>
				<div class="event-details col-xs-8">
					<h1>{{event.Name}}</h1>
					<p>{{event.Description}}</p>
					<a class="more-details-link" ng-click="buildOrder.GetSkuevents(event.xp.ProductCode, event.ID)">More details</a>
					<a ng-if="!event.xp.IsWorkshop" class="public-link">OPEN TO THE PUBLIC & FREE TO ATTEND</a>
					<!-- <h2 ng-if="event.xp.IsWorkshop" class="price">{{event.StandardPriceSchedule.PriceBreaks[0].Price}}</h2> -->
						<h2 ng-if="event.xp.IsWorkshop" ng-repeat="eventPrice in event.StandardPriceSchedule.PriceBreaks" class="price">
							<span class="prod-price">{{eventPrice.Price | currency}}</span>
						</h2>
					<div class="abs-bottom">
						<!-- <h3>{{event.xp.EventDate | date:'MMM'}} {{event.xp.EventDate | date:'dd'}}</h3> -->
						<h3 class="date">
							{{event.xp.EventDate | date:'MMM'}} {{event.xp.EventDate | date:'dd'}}
	<!-- 						<span class="time"><span class="day">Saturday</span>
							<span class="timings">
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 59 63" style="enable-background:new 0 0 59 63;" xml:space="preserve">
									<circle cx="29.3" cy="32.7" r="25"/>
									<path d="M42.5,0.9c6.2,2.3,11.5,6.5,15.2,11.9"/>
									<path d="M0.9,12.8c3.4-5,8.1-9,13.8-11.4"/>
									<polyline points="31.6,15.3 31.6,35 14.5,35 "/>
									<line x1="40.2" y1="55.2" x2="45.1" y2="62.2"/>
									<line x1="17" y1="55.2" x2="12.2" y2="62.2"/>
								</svg>
								<span class="etime">2:00 PM - 4:00 PM</span>
							</span>
						</span> -->
						</h3>
						<div class="btn-grp">
							<button class="lightgray-btn">ADD TO CALENDAR</button>
							<button ng-if="event.xp.IsWorkshop" class="green-btn" ng-click="buildOrder.GetSkuevents(event.xp.ProductCode, event.ID)">Register Now</button>
							<button ng-if="!event.xp.IsWorkshop" class="purple-btn" ng-click="buildOrder.GetSkuevents(event.xp.ProductCode, event.ID)">MORE DETAILS</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>