<!-- <div class="oms_main_container" ng-show='showplp'>
	<h1 ng-if="buildOrder.searchVal">Search Results for <span>"{{buildOrder.searchVal}}"</span> <span class="count">({{buildOrder.prodlist.Items.length}} products)</span></h1>
	<ul class="plp-container">
	    <li class="col-md-3" ng-repeat="products in buildOrder.prodlist.Items track by $index">
	        <div class="plp-block" ng-click="buildOrder.productdata(products.ID)">
	            <div class="product_img"></div>
				<div class="plp-product-data">
					<h2>{{products.Name}}</h2>
					<h3>Option Deluxe</h3>
					<h4>Color Red</h4>
				</div>
	            <div class="price_lst" ng-repeat="pricelist in products.StandardPriceSchedule.PriceBreaks">
	                <h5>{{pricelist.Price | currency}}</h5>
	            </div>
	        </div>
	    </li>
	</ul>
</div> -->

<!-- buildorder search starts -->
<div cg-busy="{promise:buildOrder.PLPLoader,templateUrl:'common/loading-indicators/templates/view.loading.tpl.html'}"></div>
<div class="oms_main_container" ng-show='showplp'>
	<div ng-if="buildOrder.searchval.length > 0" ng-init="buildOrder.cleardata()">
		<h1 ng-if="buildOrder.searchval.length > 0 && buildOrder.buildorderSearch.length != 0">Search Results for <span>"{{buildOrder.searchval}}"</span> <span class="count">({{buildOrder.buildorderSearch.length}} products)</span></h1>
		<h1 ng-if="buildOrder.buildorderSearch.length == 0 && buildOrder.searchval.length > 0">No results found for <span>"{{buildOrder.searchval}}"</span></h1>
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="products in buildOrder.buildorderSearch track by $index" ng-if="buildOrder.searchval.length > 0" >
				<div class="plp-block" ng-click="buildOrder.prouctsList(products)">
					<div class="product_img">
						<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{products.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
					</div>
					<div class="plp-product-data">
						<h2>{{products.Name}}</h2>
						<h3><span class="variant">Size</span> <span>{{products.Size}}</span></h3>
						<h4><span class="variant">Color</span> <span>{{products.Color}}</span></h4>
						<div class="price_lst">
							<h5>{{products.Price | currency}}</h5>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- product Searched results -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'Products' &&  buildOrder.searchval.length == 0">
		<h1 ng-if="buildOrder.searchList.length > 0">Search Results for <span>"{{buildOrder.searchTxt}}"</span> <span class="count">({{buildOrder.searchList.length}} products)</span></h1>
		<h1 ng-if="buildOrder.searchList.length == 0">No results found for <span>"{{buildOrder.searchTxt}}"</span></h1>
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="prod in buildOrder.searchList track by $index">
				<div class="plp-block">
					<div ng-click="buildOrder.prouctsList(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{prod.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp"><span>{{prod.Name}}</span></h2>
							<h3>Color <span>{{prod.Color}}</span></h3>
							<h4>Size <span>{{prod.Size}}</span></h4>
							<div class="price_lst">
								<h5 class="Price">{{prod.Price | currency}}</h5>
							</div>	
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- direct pdp- product Searched results based on sequence number -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'PDP' &&  buildOrder.searchval.length == 0 && buildOrder.searchSeqList.length>0">
		<h1 ng-if="buildOrder.searchSeqList.length > 0">Search Results for <span>"{{buildOrder.prodName}}"</span></h1>
		<!-- <h1 ng-if="buildOrder.searchSeqList.length == 0">No results found for <span>"{{buildOrder.searchTxt}}"</span></h1> -->
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="prod in buildOrder.searchSeqList track by $index">
				<div class="plp-block">
					<div ng-click="buildOrder.showProduct(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{prod.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp"><span>{{prod.Name}}</span></h2>
							<h3>Color <span>{{prod.xp.SpecsOptions.Color}}</span></h3>
							<h4>Size <span>{{prod.xp.SpecsOptions.Size}}</span></h4>
							<div class="price_lst">
								<h5 class="Price">{{prod.StandardPriceSchedule.PriceBreaks[0].Price | currency}}</h5>
							</div>	
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- category Product List starts -->
	<div class="home-search-list" ng-if="buildOrder.searchType == 'plp' &&  buildOrder.searchval.length == 0 && buildOrder.catList.length>0">
		<h1 ng-if="buildOrder.catList.length > 0">Products under the category <span>"{{buildOrder.catName}}"</span> <span class="count">({{buildOrder.catList.length}} products)</span></h1>
		<!-- <h1 ng-if="buildOrder.catList.length == 0">No Products found</span></h1> -->
		<ul class="plp-container">
			<li class="col-md-3" ng-repeat="prod in buildOrder.catList track by $index">
				<div class="plp-block">
					<div ng-click="buildOrder.prouctsList(prod)">
						<div class="product_img">
							<img ng-model="prodImage" ng-src="{{buildOrderPLP.alfrescoAccessURL}}/imagefinder/{{prod.ID}}?alf_ticket={{buildOrderPLP.alfrecoTct}}"/>
						</div>
						<div class="plp-product-data">
							<h2 class="product-name-plp"><span>{{prod.Name}}</span></h2>
							<h3>Color <span>{{prod.Color}}</span></h3>
							<h4>Size <span>{{prod.Size}}</span></h4>
							<div class="price_lst">
								<h5 class="Price">{{prod.Price | currency}}</h5>
							</div>	
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>