<!-- <div class="onholdscreen">
	<div class="hold_header">
		<span ui-sref="home">&lt; Back</span>
		<h1>Order Details</h1>
	</div>
	<div class="hold_items">
		<h1>Items</h1>
		<div class="buttons">
			<button>&#43; ADD ITEM</button>
		</div>
		<div class="itemstable">
			<div ui-grid="gridOptions" class="hold-order-grid col-md-12 col-sm-12"></div>
		</div>
	</div>
</div> -->
<!-- Sweta -->
<div class="hold-screen-main">
	<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 back-common">
	<a href="javascript: window.history.go(-1)">Back</a>
	</div>
	<h1>Order Details</h1>
	<div class="hold-screen">
		<div>
			<h2>Items</h2>
		</div>
		<div class="item-action">
			<button ng-click="hold.removeItem()">REMOVE ITEM</button>
			<button ng-click="hold.addItem()">ADD ITEM</button>
		</div>
		<div ui-grid="gridOptions" class="order-grid" ui-grid-edit></div>
	</div>
	<div class="hold-screen row">
		<div class="col-md-12 col-lg-12">
			<h2>Delivery Information</h2>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Delivery Date</p>
			<input type="text" class="col-md-2 col-lg-2" ng-model="hold.deliveryinfo.xp.deliveryDate" ng-disabled="true"/>
			<!-- <p>{{hold.deliveryinfo.xp.deliveryDate | date : 'MMM dd,yyyy'}}</p> -->
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Delivery Time</p>
			<input type="text" class="col-md-2 col-lg-2" ng-model="hold.deliveryinfo.xp.deliveryRun"  ng-disabled="true"/>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Delivery Instructions</p>
			<input type="text" class="col-md-6 col-lg-6" class="message" ng-model="hold.deliveryinfo.xp.deliveryNote" ng-disabled="true"/>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Wired Service</p>
			<select ng-model="hold.wireserviceopt">
				<option value="FTD">FTD</option>
				<option value="Teleflora">Teleflora</option>
			</select>
		</div>
		<button ng-click="hold.florist(hold.wireserviceopt)" class="select-florist">Select florist</button>

	</div>
	<div class="hold-screen row">
		<div class="col-md-12 col-lg-12">
			<h2>Wired Service</h2>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Wired Service</p>
			<a class="col-md-2 col-lg-2" ng-click="hold.selectFlorist()">Select Florist</a>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Florist Name</p>
			<input type="text" class="col-md-2 col-lg-2" ng-model="hold.selectedflorist.floristName"/>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Florist Zip Code</p>
			<input type="text" class="col-md-2 col-lg-2" ng-model="hold.selectedflorist.zipCode"/>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2" ng-model="hold.selectedflorist.zipCode">Florist Network</p>

		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Florist Code</p>
			<input type="text" class="col-md-2 col-lg-2" ng-model="hold.selectedflorist.zipCode"/>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Wire Occasion Code</p>
			<input type="text" class="col-md-2 col-lg-2" ng-model="hold.selectedflorist.zipCode"/>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Wire Order Number</p>
			<input type="text" class="col-md-2 col-lg-2" ng-model="hold.selectedflorist.zipCode"/>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Transmission Status</p>
			<input type="text" class="col-md-2 col-lg-2" ng-model="hold.selectedflorist.zipCode"/>
		</div>
	</div>
	<div class="hold-screen row">
		<div class="col-md-12 col-lg-12">
			<h2>Card Message</h2>
		</div>
		<div class="hold-btm col-md-12 col-lg-12">
			<p class="col-md-2 col-lg-2">Delivery Date</p>
			<div class="col-md-2 col-lg-2 delivery-input">
				<input type="text" class="message" ng-model="hold.onholdlineitems.xp.CardMessage.line1"/>
				<input type="text" class="message" ng-model="hold.onholdlineitems.xp.CardMessage.line2"/>
				<input type="text" class="message" ng-model="hold.onholdlineitems.xp.CardMessage.line3"/> 
				<input type="text" class="message" ng-model="hold.onholdlineitems.xp.CardMessage.line4"/>
			</div>
		</div>
	</div>
	<div>
		<button class="unhold" ng-click="hold.selectedflorist==null || hold.unhold()" ng-disabled="hold.selectedflorist==null">Unhold</button>
		<button ui-sref="home">CANCEL</button>
	</div>
</div>
<modal title="Select a SKU" visible="hold.selectSKU" id="selectSKU" class="create-user-pop-up modal-pop-up">
	<div>
		<h1>Select a SKU</h1>
		
	</div>
	<div>
		<div class="searchfield">
		</div>
	</div>
	<div ui-grid="gridskuopt" ui-grid-selection class="order-grid"></div>

	<div>
		<button ng-click="hold.selectSKU =! hold.selectSKU" class="cancel">CANCEL</button>
		<button ng-click="hold.adddummy()">OKAY</button>
	</div>
</modal>
<modal title="Select a SKU" visible="hold.selectFloristshow" id="selectFlorist" class="create-user-pop-up modal-pop-up">
	<div>
		<h1>Select a Florist</h1>
		
	</div>
	<div>
		<div class="searchfield">
		</div>
	</div>
	<div ui-grid="gridfloristopt" ui-grid-selection class="order-grid"></div>

	<div>
		<button ng-click="hold.selectFloristshow =! hold.selectFloristshow" class="cancel">CANCEL</button>
		<button ng-click="hold.selectFloristshow =! hold.selectFloristshow">OKAY</button>
	</div>
</modal>