<div class="login container-fluid" cg-busy="{promise:login.LoginSubmit,templateUrl:'common/loading-indicators/templates/view.loading.tpl.html'}">


  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 login-left">
    <div class="Logo_header" ng-include="login.logo">

    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 login-right">
    <main id="Login" class="panel panel-default Absolute-Center is-Responsive" ng-switch="login.form">

      <section cl>
        <div ng-switch-when="login" class="tabs">
        
              
          <h2 class="text-center login-header">Login to your Account</h2>
          <!--<h3 class="text-center forgot-header">forgot to your account</h2> -->   
          <input type="radio" class="form control" name="name" id="tab1" checked>
          <label class="radio loginradio" for="tab1" >Login</label>
          <input type="radio" class="form control" name="name" id="tab2">
          <label class="radio" for="tab2">Forgot Password</label>
         <div class="login-tab">
          <form class="panel-body" name="login.LoginForm" ng-submit="login.submit()">
            
            <div class="input-group form-group">
              <span class="input-group-addon" id="basic-addon1"><span class="login-lock glyphicon glyphicon-user" ></span></span>
              <input type="text" class="form-control" placeholder="User Name" aria-describedby="basic-addon1" id="Username" ng-model="login.credentials.Username" ng-required="true">
            </div>
            <div class="input-group form-group">
              <span class="input-group-addon" id="basic-addon1">
				<span class="login-lock" >
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 64 38" style="enable-background:new 0 0 64 38;" xml:space="preserve">
					<g>
						<g transform="translate(288 0)">
							<path d="M-263.8,28.8v-3.9h19.6V21h3.9v3.9h3.9V21h3.9v3.9h2c3.2,0,5.9-2.6,5.9-5.9c0-3.2-2.6-5.9-5.9-5.9h-33.3V9.2
								l-11.7-7.8l-11.7,7.8v19.6l11.7,7.8L-263.8,28.8z M-281.5,28.8c-1.1,0-2-0.9-2-2V11.2c0-1.1,0.9-2,2-2s2,0.9,2,2v15.7
								C-279.5,27.9-280.4,28.8-281.5,28.8z"/>
						</g>
					</g>
					</svg>
				</span>
			  </span>
              <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" id="Password" ng-model="login.credentials.Password" ng-required="true" >
              <span class="help-block has-error error-msg1" ng-if="login.credentials.Password && login.credentials.Username">{{login.LoginForm.error}}</span>
            </div>
            <div class="input-group form-group login-submit">
              <button id="submit_login" type="submit" class="btn btn-primary" ng-disabled="login.LoginForm.$invalid">Login</button>
            </div>
          </form>
        </div>
        <div class="forgot-tab">
            <form class="panel-body" name="ForgotPasswordForm" ng-submit="login.forgotPassword()">
            <div class="input-group form-group">
              <span class="input-group-addon" id="basic-addon1"><span class="login-lock glyphicon glyphicon-envelope" ></span></span>
              <input type="text" class="form-control" id="Email" placeholder="Username" ng-model="login.credentials.Email" ng-required="true">
            </div>
            <div class="input-group form-group login-submit">
              <button type="submit" id="email_submit" class="btn btn-primary" ng-disabled="ForgotPasswordForm.$invalid">Submit</button>
            </div>
          </form>
        </div>
        </div>
       <!-- <div ng-switch-when="forgot">
          <form class="panel-body" name="ForgotPasswordForm" ng-submit="login.forgotPassword()">
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="text" class="form-control" id="Email" ng-model="login.credentials.Email" ng-required="true" />
            </div>
            <button type="submit" id="email_submit" class="btn btn-primary" ng-disabled="ForgotPasswordForm.$invalid">Submit</button>
            <a id="back_to_login" class="btn btn-link" ng-click="login.setForm('login')">Back to Login</a>
          </form>
        </div>-->
        <div ng-switch-when="reset" class="reset_password">
          <form class="panel-body" name="ResetPasswordForm" ng-submit="login.resetPassword()">
            <h2 class="text-center login-header">Reset Password</h2>
            <div class="input-group form-group">
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" ></span></span>
              <input type="text" class="form-control" placeholder="Username"  id="ResetUsername" ng-model="login.credentials.ResetUsername" ng-required="true" />
            </div>
            <div class="input-group form-group">
			  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" ></span></span>
              <input type="password" class="form-control" placeholder="New Password" id="NewPassword" ng-model="login.credentials.NewPassword" ng-required="true" />
            </div>
            <div class="input-group form-group">
			  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" ></span></span>
              <input type="password" class="form-control" placeholder="Confirm Password" id="ConfirmPassword" ng-model="login.credentials.ConfirmPassword" ng-required="true" />
            </div>
            <button type="submit" id="reset_submit" class="btn btn-primary" ng-disabled="ResetPasswordForm.$invalid || login.credentials.NewPassword != login.credentials.ConfirmPassword">Submit</button>
          </form>
        </div>
        <div ng-switch-when="verificationCodeSuccess">
          <form class="panel-body" name="VerificationCodeSuccessForm">
            <h1 class="text-center">Forgot Password</h1>
            <div class="alert alert-info" id="forgot_message">Forgot Password email has been sent. Please check your email in order to reset your password.</div>
          </form>
        </div>
        <div ng-switch-when="resetSuccess">
          <form class="panel-body" name="ResetSuccessForm">
            <h1 class="text-center">Reset Password</h1>
            <div class="alert alert-info">Your password has been reset.</div>
            <a class="btn btn-link" id="back_to_login2" ng-click="login.setForm('login')">Back to Login</a>
          </form>
        </div>
      </section>
     
    </main>
  </div>
</div>
