<div class="container-fluid reset-password">
    <div class="align-center">
        <div class="row head">
            <h2>Reset Your Password</h2>
            <p class="fill-info">To create your new password, provide the following information, and then click Change.</p>
        </div>
        <div class="row change-password">
            <form name="reset.ChangePasswordForm" novalidate>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group new-pwd">
                    <label>New Password</label>
                    <input type="password" class="form-control" ng-model="reset.newPassword" ng-required="true" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%_@#£€*?&]{8,}$" pattern-err-type="customPassword123" placeholder="Enter Password" autocomplete="new-password" />
                    <p class="password-instruction">Password must be Alphanumeric, minimum 8 characters</p>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group confirm-pwd">
                    <label>Confirm Password</label>
                    <input type="password" name="password_c" class="form-control" ng-model="reset.cnewPassword" valid-password-c="profile.newuser.NewPassword" required placeholder="Confirm Password" autocomplete="off" disable-validation-message="" />
                    <!--  <p ng-show="ChangePasswordForm.password_c.$dirty && ChangePasswordForm.password_c.$error.noMatch" class="help-block has-error error-msg">Passwords do not match.</p> -->
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group terms">
                    <input type="checkbox" id="terms-check" class="checkbox-custom" ng-model="reset.terms">
                    <label for="terms-check" class="checkbox-custom-label">I accept all the terms & conditions.</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group changePwdBtns">
                    <div class="col-xs-6 savebtn">
                        <button type="submit" ng-disabled="reset.ChangePasswordForm.$invalid" ng-class="" class="btn purple-btn col-xs-6" ng-click="reset.submit()">Change</button>
                    </div>
                    <div class="col-xs-6 cancelbtn">
                        <button type="button" class="btn gray-btn col-xs-6" ui-sref="home">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
