.order-history-main{
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 5px 15px 5px;
    box-sizing: border-box;
    width: 100%;
    overflow:auto;
    
    .order-history {
        h5 {
            overflow: hidden;
            font-size:1.250em;
            .helvetica-bold;
            .order-header {
                line-height: 2;
                .helvetica-bold;
                color:@primary-dark-color;
            }
            .create-claim {
                float: right;
               .purple-btn;
               font-size: 0.700em;
            }
        }
        .save-input {
            position: absolute;
            right: 20px;
            border: 1px solid #e4e6ea;
            z-index: 1;
            top: 108px;
            border-radius: 2px;
            padding: 3px 0 3px 10px;
            .helvetica-regular;
            font-size:0.875em;
        }
        .order-grid{
            box-sizing: border-box;
            padding:0;
            margin-bottom:15px;
            border:1px solid @color21;
            border-bottom:none;
            height: initial !important;
            .ui-grid-render-container-body .ui-grid-viewport{
                height:initial !important;
                .ui-grid-canvas .ui-grid-row .ui-grid-cell:last-child{
                    background-color:#fff;
                    border-right:1px solid #ccc;
                    .background-fade;
                    .data_cell{
                        color:#8c58b5;
                    }
                    &:hover{
                        background-color:#7a43a3;
                        button{
                            color:@color0;
                        }
                    }
                    button{
                        background-color:transparent;
                    }
                }
                .ui-grid-canvas .ui-grid-row .ui-grid-cell:nth-last-child(2){
                    background-color:#fff;
                    border-right:1px solid #ccc;
                    .background-fade;
                    .data_cell{
                        color:#8c58b5;
                    }
                    &:hover{
                        background-color:#7a43a3;
                        button{
                            color:@color0;
                        }
                    }
                    button{
                        background-color:transparent;
                    }
                }
                .ui-grid-canvas .ui-grid-row .ui-grid-cell:first-child {
                    .data_cell{
                        text-decoration: underline;
                        text-decoration-color:@primary-dark-color;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space:nowrap;
                    }
                    &:hover .data_cell{
                        color:@primary-dark-color;
                    }
                }
                .ui-grid-canvas .ui-grid-row .ui-grid-cell{
                        border-left: 1px solid #ccc;
                        border-right: none;
                        height:40px;
                        min-width:11.11% !important;
                        width:11.11% !important;
                        max-width:11.11% !important;
                }
                .ui-grid-header-canvas .ui-grid-header-cell-wrapper .ui-grid-header-cell{
                    width:11.11% !important;
                }
                .ui-grid-canvas .ui-grid-row{
                    background-color:@color20;
                }
            }
            
        }
    }
    .no-items{
        font-size:1em;
        .helvetica-medium;
        margin-top:15px;
    }
}
.ui-grid-header-canvas{
    width: 100% !important;
    .ui-grid-header-cell-wrapper{
        width: 100% !important;
    }
}