main:not(.build-order).orderclaim{
	bottom:0;
}
.container-fluid.order-claim-page{
	padding:5px 0 0 0;
	.helvetica-regular;
	background:#fff;
	.back-common{
		margin:14px 0 14px 30px;
		a{
			
			text-decoration:none;
		}
	}
	.order-claim-container{
		position:absolute;
		top:0px;
		bottom:30px;
		width:100%;
		overflow-x:hidden;
		overflow-y:auto;
		background-color:@color0;
	}
	.adress-details{
		background: #f5f5f5;
    	float: left;
    	width: 32%;
    	padding: 10px;
    	font-size: 0.875em;
		span{
			font-size:1em;
			.helvetica-bold;
		}
		pull-right{
			.helvetica-regular;
			font-size:0.750em;
		}
    	color:#333;
		 div{
		 	padding:0px;
		 	.edit{
		 	font-size: 0.625em;
		 	}
		 }
	}
	.custom-info{
		.table{
		.thead-default{
			background:#f5f5f5;
			.helvetica-bold;
			font-weight:normal;
		}
		.select-module{
			    vertical-align: middle;
			    position: relative;
			    top: 0px;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
		.Checkbox {
					display: flex;
                    input {
                        z-index: 1;
                        /*opacity: 0;*/
                        left: 50%;
                        top: 50%;
                        transform: translatex(-50%) translatey(-50%);
                        display: block;
                        cursor: pointer;
                        width: 14px;
                        height: 14px;
                        margin-top: 0;
                    }
                    &-visible {
                        width:22px;
                        height:25px;
                        border: 1px solid #dedede
                    }
                    > input:checked + .Checkbox-visible {
                        background-position: 15px;
                    }
                }
	             label {
	                color:#464646;
	                vertical-align: middle;
	                margin-bottom: 0px;
	                margin-left: 5px;
	            }
			}
			.pro-module{
					 position: relative;
				    top: 10px;
				    height:200px;
					padding-right:0;
				    width: 22%;
				 	.product-img{
						padding:0;
						img{
								max-width:100%;
							}
					}
					.pro-details{
						padding: 0 0 0 10px;
					}
			}
			.pro-details{
				   p{
				   	   margin:0px;
					   .helvetica-regular;
					   font-size:0.813em;
				   }
				h1{
					font-size:0.938em;
					.helvetica-bold;
					 margin: 0px;
				}
				.delivery-date{
					margin: 5px 0px !important;
    				.helvetica-bold;
					font-size:0.750em;
				}
				.view{
					text-decoration: underline;
					color:#000;
					&:hover{
					 color:#a77bca;
					}
				}
			}
			.qty-value{
			    text-align: center;
			    position: relative;
			    top: 20px;
			}
			.selectpicker{
				position: relative;
			    top: 10px;
			    width: 91%;
			    border: 1px solid #ccc;
			    padding: 4px;
			}
			textarea{
				height: auto;
			    border-radius: 0px;
			    padding:5px;
			}
			.price{
			    position: relative;
				top: 10px;

				svg{
					position:absolute;
					right:0px;
					top:11px;
					width:15px;
					height:15px;
					margin-right:3px;
					fill:@primary-dark-color;
				}
				input{
					width:96%;
					border: 1px solid #ccc;
				    padding: 2px 4px;
				    background: #f7f7f7;
				}
				.save{
				   .purple-btn;
				   margin-top: 10px;
				   line-height:25px;
				   height:25px;
				   font-size:0.75em;
				}
			}
			.delivery{
				.helvetica-bold;
				 font-size: 1.250em;
			}
			th{
				border-bottom:none;
			}
			td,th{
				padding: 8px 14px;
				font-weight:normal;
			}
			.item{
				position:relative;
				top:10px;
				select{
				    padding: 3px 0;
   					border: 1px solid #ccc;
				}
			}
		}
		.claim-total{
			float: right;
    		width: 30%;
    		margin: 40px 40px 0 0;
    		.claim-header{
    			font-size:0.938em;
    			.helvetica-bold;
    			padding-bottom:5px;
    			.claim-content{
    				table{
					    border: 1px solid #eaeaea !important;
					}
				}
    		}
		}
	}
}
.custom-details{
		background: #f1f1f1;
		padding: 20px 30px;
		font-size: 1.250em;
		margin:0 0 30px 0px;
		.custom{
			.helvetica-bold;
			color:#8c58b5;
		}
		.custom-name{
		   .helvetica-regular;
			   font-size: 1.063em;
			 margin-left: 5px;
		}
}
.claim-edit{
		background: #000;
		float: left;
		width: 100%;
		color: #fff;
		.cancel-claim {
			float: left;
			.purple-big;
			border-radius:0px;
			padding:0 30px;
			a{
				color: #fff;
    			text-decoration: none;
			}
		}
	.continue-claim{
		.green-btn;
		float:right;
		padding:0 30px;
	}
	.disabled{
		border:1px solid red;
	}
}
.orderclaimtotal{
	float:right;
	font-size:0.875em;
	margin-bottom: 20px;
	margin-right: 16px;
	width:180px;
	h3{
		margin:0px 0 10px 0;
		font-size:1.250em;
		.helvetica-bold;
	}
	div{
		 span:last-child{
			text-align: left;
		    float: right;
		    font-family: 'ProximaNova-Bold';
		    width: 41%;
		}
		span:first-child{
		      width: 55%;
		    float: left;
		    text-align: right;
		    margin-right: 4%;
		}
	}
}
#orderclaimfooter .footer{
	position: fixed;
}
.orderClaimPopup {
	text-align: center;
	h4 {
		.helvetica-bold;
		font-size: 1.250em;
		margin: 20px 0 30px;
	}
	p {
		margin: 15px 0;
		.helvetica-regular;
		font-size: 1em;
	}
	button {
		.purple-big;
		margin-bottom:20px;
	}
}