.container-fluid.order-claim-page{
	padding:0px 0 0 0;
	.helvetica-regular;
	background:#fff;
	.order-claim-container{
		position:absolute;
		top:0px;
		bottom:0px;
		width:100%;
		overflow-x:hidden;
		overflow-y:auto;
		background-color:@color0;
	}
	.adress-details{
		background: #f5f5f5;
    	float: left;
    	width: 32%;
    	padding: 10px;
    	font-size: 14px;
		span{
			font-size:12px;
			.helvetica-bold;
		}
		pull-right{
			.helvetica-regular;
			font-size:12px;
		}
    	color:#333;
		 div{
		 	padding:0px;
		 	.edit{
		 	font-size: 10px;
		 	}
		 }
	}
	.custom-info{
		.table{
		.thead-default{
			background:#f5f5f5;
			.helvetica-bold;
		}
		.select-module{
			    vertical-align: middle;
			    position: relative;
			    top: 0px;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: auto;
		.Checkbox {
					display: flex;
                    input {
                        z-index: 1;
                        /*opacity: 0;*/
                        left: 50%;
                        top: 50%;
                        transform: translatex(-50%) translatey(-50%);
                        display: block;
                        cursor: pointer;
                        width: 14px;
                        height: 14px;
                        margin-top: 0;
                    }
                    &-visible {
                        width:22px;
                        height:25px;
                        border: 1px solid #dedede
                    }
                    > input:checked + .Checkbox-visible {
                        background-position: 15px;
                    }
                }
	             label {
	                color:#464646;
	                vertical-align: middle;
	                margin-bottom: 0px;
	                margin-left: 5px;
	            }
			}
			.pro-module{
					 position: relative;
				    top: 10px;
				    height:200px;
					padding-right:0;
				    width: 22%;
				 	.product-img{
			    	 background: #ccc;
			   		 height: 130px;
			    	 width: 100px;
				    }
			}
			.pro-details{
				   p{
				   	   margin:0px;
					   .helvetica-regular;
					   font-size:12px;
				   }
				h1{
					font-size:15px;
					.helvetica-bold;
					 margin: 0px;
				}
				.delivery-date{
					margin: 5px 0px !important;
    				.helvetica-bold;
					font-size:12px;
				}
				.view{
					text-decoration: underline;
					color:#000;
					&:hover{
					 color:#a77bca;
					}
				}
			}
			.qty-value{
			    text-align: center;
			    position: relative;
			    top: 20px;
			}
			.selectpicker{
				position: relative;
			    top: 10px;
			    width: 91%;
			    border: 1px solid #ccc;
			    padding: 4px;
			}
			textarea{
				height: auto;
			    border-radius: 0px;
			    
			}
			.price{
			    position: relative;
				top: 10px;

				svg{
					position:absolute;
					right:0px;
					top:11px;
					width:15px;
					height:15px;
					margin-right:3px;
					fill:@primary-dark-color;
				}
				input{
					width:94%;
					border: 1px solid #ccc;
				    padding: 2px 4px;
				    background: #f7f7f7;
				}
				.save{
				    background: #a77bca;
				    color: #fff;
				    padding: 1px 14px;
				    text-transform: capitalize;
				    margin-top: 10px;
					.background-fade;
					&:hover{
						background-color:@primary-dark-color;
					}
				}
			}
			.delivery{
				.helvetica-bold;
				 font-size: 20px
			}
			th{
				border-bottom:none;
			}
			td,th{
				padding: 8px 14px;
			}
			.item{
				position:relative;
				top:10px;
				select{
				    padding: 3px 0;
   					border: 1px solid #ccc;
				}
			}
		}
		.claim-total{
			float: right;
    		width: 30%;
    		margin: 40px 40px 0 0;
    		.claim-header{
    			font-size:15px;
    			.helvetica-bold;
    			padding-bottom:5px;
    			.claim-content{
    				table{
					    border: 1px solid #eaeaea !important;
					}
				}
    		}
		}
	}
}
.custom-details{
		background: #f1f1f1;
		padding: 20px 30px;
		font-size: 20px;
		margin:0 0 30px 0px;
		.custom{
			.helvetica-bold;
			color:#8c58b5;
		}
		.custom-name{
		   .helvetica-regular;
			   font-size: 17px;
			 margin-left: 5px;
		}
}
.claim-edit{
		background: #000;
		float: left;
		width: 100%;
		color: #fff;
		.cancel-claim {
			float: left;
			padding: 5px 40px;
			border-right: 1px solid #fff;
			.background-fade;
			&:hover{
				background-color:@primary-dark-color;
			}
		}
	.continue-claim{
		 background: #969292;
		float: right;
		padding: 5px 80px;
		.background-fade;
		&:hover{
			background-color:@primary-dark-color;
		}
	}
}
.orderclaimtotal{
	float:right;
	font-size:14px;
	margin-bottom: 20px;
	margin-right: 16px;
	h3{
		margin:0px 0 10px 0;
		font-size:20px;
		.helvetica-bold;
	}
	div{
		 span:last-child{
			text-align: right;
    		float: right;
			.helvetica-bold;
		}
		span:first-child{
		  width:69%;
		  float:left;
		}
	}
}