<div class="container-fluid order-history-main">
	<div class="back-common">
		<a href="javascript: window.history.go(-1)">Back</a>
	</div>
	<div class="order-history" ng-if="orderHistory.order.length>0">
		<h5>
			<span class="order-header">Order History for:</span> {{uname}}
			<button class="create-claim">Create Non-Order Claim</button>
		</h5>
		<input type="text" ng-model="orderHistory.searchText">
		<div ui-grid="gridHistory" class="order-grid col-md-12 col-sm-12"></div>
	</div>
	<p class="no-items" ng-if="orderHistory.order.length==0">There are currently no order in your order history.</p>
</div>
