input[type="number"],input[type="text"],input[type="email"],textarea,input[type="search"]{
	&:focus::-webkit-input-placeholder { color:transparent; }
            &:focus:-moz-placeholder { color:transparent; }
            &:focus::-moz-placeholder { color:transparent; } 
            &:focus:-ms-input-placeholder { color:transparent; }
            &:focus{
                background:#fff !important;
				}
				
}
input.error, .errorCity {
    border: 1px solid #f32929 !important;
}
.customer-info{
	position: absolute;
    top:0px;
    bottom: 0px;
    overflow: auto;
	padding:0 30px;
	background-color:@color0;
	.cust-info-container{
	.nocards{
	.helvetica-regular;
	}
		.back-common{
			.helvetica-regular;
		    font-size:0.938em;
		    color: #54565d;
		    margin:0px;
		    a{
		    	color: #54565d;
			    cursor: pointer;
			    text-decoration: none;
			     .helvetica-regular;
			     font-size:1em;
				svg{
			    width: 15px;
			    height: 10px;
			    color: rgb(84, 86, 93);
			    display: inline-block;
			    transform: rotate(180deg);
			    }
		    }
		    &:hover{
		    	a{
		    		color:#a77bca;
		    		text-decoration:underline;
		    	}
		    	svg{
		    		fill:#a77bca;
		    	}
		    }
		}
		 .employe{
			padding-left:15px;
		}
		padding: 15px 0px 35px 15px;
		h1{
			.helvetica-bold;
			font-size: 0.938em;
			padding:10px;
			background-color:@color20;
			height:35px;
			.edit{
				  .purple-btn;
			     line-height:23px;
			     height:25px;
			     float:right;
			     margin-top: -4px;
			}
		}
		.credit-card-details{
			position:absolute;
			width:100%;
			overflow-y:auto;
			top:0px;
			bottom:0px;
			.billing-addr{
				border:1px solid @color25;
				background-color:rgba(244, 244, 244, 0.17);
				width:100%;
				margin-bottom:20px;
				div{
					vertical-align:top;
					width:32.5%;
					.in-block;
					padding:5px;
				}
			}
		}
		p{
			.helvetica-bold;
			font-size: 0.875em;
			margin-bottom:10px;
		}
		a{
			.helvetica-bold;
			font-size:0.875em;
			color:@primary-dark-color;
			text-decoration: underline;
			.font-spacing;
			text-transform: capitalize;
		}
		.col-sm-12.col-xs-12.col-md-12.col-lg-12, .col-sm-6.col-xs-6.col-md-6.col-lg-6{
			padding: 0 8px 0 0;
		}
		input[type=text], input[type=email], input[type=number], input[type=date]{
			.helvetica-regular;
			font-size: 0.813em;
			line-height:30px;
			border: 1px solid @color21;
			outline: none;
			padding: 0 0 0px 5px;
			margin:5px 5px 0 0;
		    height: 30px;
			border-radius: initial;
		}
		button{
			.purple-big;
		}
		/*button.save{
			padding:5px 10px;
			.helvetica-bold;
			font-size: 0.688em;
			color:@color0;
			background-color:@primary-color;
			margin-top:8px;
			margin-left: 10px;
			&:hover{
				background-color:@primary-dark-color;
			}
		}*/
		.info-blk{
			margin-bottom:0;
			p{
				.in-block;
				box-shadow:none;
				background-color:@color0;
				padding:0;
			}
			input{
				border: 1px solid #e4e6ea;
			   .helvetica-regular;
			    font-size: 0.875em;
			    line-height: 25px;
			    text-indent: 5px;
			    width: 100%;
			    height:28px;
			    -webkit-appearance: none;
			    background: @color23;
			    border-radius: 2px;
			  	margin: -3px 0 20px 0;
			    box-shadow: none;
			}
			span{
				.helvetica-regular;
				font-size: 0.938em;
				height: 21px;
               line-height: 17px;
			}
			input.form-control{
				width:auto;
			}
			.cust-del{
			 width:17%;
			}
			.phone-num{
			 padding:0px;
			}
		}
		.cust-top{
			margin-top:10px;
			.phone-val{
			 width:21%;
			 margin-right: 15px;
			}
			.phone-val1{
			 width:50%;
			}
			.phone-num{
				width:28%;
			}
		}
		.cust-street{
			.cust-addr1{
				margin-top:22px;
			}
			p{
				.in-block;
				vertical-align: top;
				margin-bottom:5px;
				padding:0;
			}
			div{
				.in-block;
				width:70%;
				input{
				border:1px solid @color20;
				.helvetica-regular;
				font-size: 0.875em;
				line-height:25px;
				text-indent: 5px;
				width:@width0;
				height:28px;
				-webkit-appearance: none;
				background: @color23;
				border-radius: 2px;
				margin-bottom: 25px;
				box-shadow:none;
				}
				div{
					width:@width0;
					input{
							width: initial;
							float: left;
					}
				}
			}
		span{
				.helvetica-regular;
				font-size: 0.938em;
			}
			.cust-del{
			 width:23%;
			}
			.cust-addrs{
			  width: 50%;
			}
			.cust-addr{
		      margin-top: -22px;
			}
			
		}
		.cust-addrlistContainer{
			padding:0;
			position: relative;
			height: 250px;
			.address-book{
				width:100%;
				th{
					font-size:0.875em;
					.helvetica-bold;
					color:@color1;
					padding:0 5px 5px;
					font-weight:normal;				}
					th,td{
						
						&:first-child{
							width:30%;
							float:left;
						}
						&:nth-child(2){
							width:50%;
							float:left;
						}
						&:last-child{
							width:20%;
							float:left;
						}
				}
			
				td{
					padding:5px;
					font-size:0.875em;
					.helvetica-regular;
					p{
					font-size:1em;
					.helvetica-regular;
					}
				}
				tbody{
					position: absolute;
					top: 90px;
					overflow-y: auto;
					bottom:-15px;
					width:@width0;
					tr{
						border:1px solid @color25;
						background-color:rgba(244, 244, 244, 0.17);
						margin-bottom:5px;
						float:left;
						width:98%;
						p{
							margin-bottom:5px;
						}
					}
				}
			}
			/* .cust-addr-list{
				    position: absolute;
					top: 53px;
					overflow-y: auto;
					bottom:-15px;
					width:@width0;
					& > p{
						.cust-top;
					}
					p{
						margin-bottom:0;
					}
					.sub-addr{	
						.helvetica-regular;
						font-size: 14px;
						margin-bottom:4px;
					}
					.group-addr{
						p{
							.helvetica-regular;
							font-size: 13px;
						}
						span{
							.helvetica-regular;
							font-size: 13px;
							.in-block;
						}
					}
					ul{
						margin-bottom:15px;
					}

			}*/
		}
		.subscription{
		    position: relative;
    		margin-top: 25px;
    		    height:200px;
			.sub-header{
				background-color: #e4e6ea;
			    float: left;
			    width: 100%;
			   padding: 5px 10px;
    			margin-top: 8px;
				h1{
					float:left;
					.helvetica-bold;
				    font-size: 0.938em;
				    padding: 5px 0 0 0;
				    margin: 0px;
				    height:auto;
				}
				.save {
			     .purple-btn;
			     line-height:23px;
			     height:25px;
			     float:right;
    		  }

			}
			.sud-del{
			    overflow-y: auto;
			    width: 100%;
			    position: absolute;
			   	top:55px;
			   	bottom:0;
				table{
					th, td{
						width:20%;
						.helvetica-regular;
						font-size: 0.938em;
					}
					th{
						.helvetica-bold;
						font-size: 0.813em;
					}
					th:nth-child(3), td:nth-child(3){
						width:75%;
					}
					td{
						padding:5px 0;
					}
				}
			}
			
		}
		.sub-addr{	
			.helvetica-regular;
			font-size: 0.938em;
			margin-bottom:4px;
		}
		.payment{
			min-height:150px;
			max-height:250px;
			position:relative;
			.credit-card-details{
				.card-left{
					width:49%;
					vertical-align: top;
					.in-block;
					&.expires p{
						text-align:right;
					}
				}
				p{
					margin-bottom:3px;
				}
			}
		}
		.card{
			.card-img{
				width:30%;
				float: left;
				img{
					max-width: 100%;
				}
			}
			.card-content{
				    width: 68%;
				    float: right;
				    vertical-align: top;
				    margin-left: 10px;
				h2, h3,span{
					.helvetica-bold;
					font-size: 0.938em;
					margin:0 0 8px;
				}
			}
			h4,h5,span{
				.helvetica-bold;
				font-size: 1em;
				margin:5px 0 5px;
			}
			p{
				.helvetica-regular;
				font-size: 0.813em;
				span{
					.helvetica-regular;
					font-size: 0.813em;
				}
			}
		}
		.account-credits{
			h2, span{
				.helvetica-bold;
				font-size: 1em;
				margin: 18px 0 0;
			}
		}
		.credit-card-edit{
			h5{
				.helvetica-bold;
				font-size: 0.875em ;
			}
			p{
				margin:5px 0;
			}
			input{
				border:1px solid @color21;
				width:45%;
			}
			.two-blocks{
				width:49%;
				margin-top:8px;
				.in-block;
				p, input{
					.in-block;
				}
				p{
					margin-right:8px;
				}
				input{
					width:60%;
				}
			}
		}
		.edit-block{
			width:85%;
			.save-button{
				button{
					.purple-big;
					margin-left:10px;
				}
			}
			.group-blk{
				.blk{
					.in-block;
					width:47%;
					margin:0 0 10px 2%;
					vertical-align:top;
					&.phone-blk input{
						width:32.5%;
						.in-block;
						margin-right:1%;
						&:last-child{
							margin-right:0px;
						}
					}
				}
			}
			.full-blk, .group-blk{
				p{
					margin-bottom:5px;
					color:#464646;
					.helvetica-regular;
				}
				input{
						width:100%;
						margin:0;
						box-shadow:none;
						background-color: #f4f4f4;
						.helvetica-regular;
						font-size:0.813em;
						line-height: 35px;
						color: #464646;
						border: 1px solid #EAEAEA;
						text-indent: 8px;
				}
			}
			.full-blk{
				margin:0 0 10px 2%;
				width:100%;
				input{
					width:97%;
				}
				.zip{
					width:25%;
				}
			}
			.form-control{
				padding:0px 5px;
				height:29px;
				border:1px solid #eaeaea;
				line-height:29px;
				cursor:pointer;
				i {
					color:@primary-dark-color;
					float:right;
					font-size:0.750em;
					padding: 9px 0;
					.transition-common(all 0.5s ease);
					.rotate(0deg);
				}
				.dropdown-menu{
					width:100%;
					padding:0;
					border:1px solid @base-bg-purple-light;
					border-radius:0;
					li{
						border-bottom:1px solid @color21;
						border-radius:0;
						a{
							font-size:0.813em;
							padding: 5px 10px;
							.helvetica-regular;
							color:@color1;
							text-decoration:none;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							&:hover{
								background-color:@base-bg-purple-light;
								color:@color0 !important;
							}
						}
					}
					&:last-child{
						border-bottom:none;
					}
				}
				&.open{
					.fa-chevron-down{
						.rotate(180deg);
					}
				}
		}
	}
	}
	.corporate-info{
		p{
			margin:10px 0 5px 0;
		}
		p.sub-addr{
			margin:2px 0;
		}
		.left{
			width:30%;
			.in-block;
			vertical-align:top;
		}
		.right{
			width:30%;
			.in-block;
		}
	}
}
.change-pwd.modal-pop-up{
	.modal-dialog{
		.form-group{
			margin-bottom:10px;
			padding:0;
			input{
					width:100%;
					margin:0 !important;
					box-shadow:none;
					background-color: #f4f4f4;
					.helvetica-regular;
					font-size: 1em;
					line-height: 35px;
					color: #464646;
					border: 1px solid #EAEAEA;
					text-indent: 8px;
					padding:0;
				}
			label{
				margin:10px 0 5px 0;
				font-weight:normal;
				font-size:0.875em;
			}
			/*
			.form-control.dropdown{
				background-repeat: no-repeat !important;
				background-position: right center !important;
			}
			#security-select2,input{
			    -webkit-appearance: none;
				-moz-appearance: none;
				background-image: url('../assets/images/button-down.svg');
				background-repeat: no-repeat;
				background-position: right center;
				background-size: 35px 12px;
				.helvetica-bold;
				height: 50px;
				color: #333333;
				border-radius: 2px;
				border: none;
				border: 1px solid #e2e2e2;
				box-shadow: none;
				outline: 0;
			}
			#security-select2{
                
                        background-color: @color23;
                        font-size:12px;
                        .helvetica-regular;
                        font-weight: bold;
                        //height: initial;
                        
                        border-radius: 2px;
                        border: none;
                        border: 1px solid #e2e2e2;
                        box-shadow: none;
                        -webkit-appearance: none;
                        outline: 0;
                        padding: 0px 12px;
                        vertical-align: middle;
                        line-height: initial; 
                        min-height: 50px;
                        background-image: url(../../assets/images/button-down.svg);
                        background-repeat: no-repeat;
                        background-position: right center;
                        background-size: 23px 12px;
                        cursor: pointer;
                        background-position: right center;
                        &.open{
                             background-image: url(../../assets/images/button-up.svg);
                        }
                        #sort-dropdown{
                            height: 100%;
                        }
                        p{
                             position: relative;
                             top:30%;
                            .helvetica-regular;
                            font-size:16px;
                            font-weight:normal;
                        } 
                 
                ul{
                    width: 100%;
                    border-radius: 0px;
                    margin: 0px;
                    margin-left: -2px;
                    li{
                        a{
                            width: 100%;
                            white-space: pre-line;
                            padding:7px;
                             .helvetica-regular;
                             font-size:16px;
                             color:#000;
                             text-decoration:none;
                            &:hover{
                            color: @base-bg-purple-light;
                            background: transparent;
                            
                        }

                        }
                        &:hover{
                            color: @base-bg-purple-light;
                        }
                    }
                }
               
            }
			*/
		}
		.modal-content{
		 .modal-header{
		 	h4{
		 		.helvetica-bold;
			    font-size: 1.313em;
			    color: #8c58b5;
			    margin: 10px 0 0 10px;
		 	}
		 	button.close{
		 		font-size:1.250em;
		 	}
		 }
		 .modal-body{
		 	padding:10px 25px;
		 }
	  }
	}
}	
