<form name="OrderCloudSearchFrom" ng-submit="showProducts()" class="searchtpl">
    <div class="form-group">
		 <!-- <input type="search" class="form-control" placeholder="{{placeholder}}" ng-model="searchTerm"/> -->
        <input type="search" class="form-control" placeholder="{{placeholder}}" ng-model="search.query" autocomplete="off" ng-minlength="3"/>
		<a class="clear" ng-click="clearData()" ng-if="search.query.length>0">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="-502.4 514.1 26.2 26.2" style="enable-background:new -502.4 514.1 26.2 26.2;" xml:space="preserve">
			<style type="text/css">
				.st0{fill:none;enable-background:new ;}
				.st1{fill:#CEB9E2;}
			</style>
			<path class="st0" d="z"/>
			<path class="st1" d="M-489.3,515.1c-6.7,0-12.1,5.4-12.1,12.1c0,6.7,5.4,12.1,12.1,12.1c6.7,0,12.1-5.4,12.1-12.1
				C-477.2,520.5-482.6,515.1-489.3,515.1z M-484.2,531.3l-1,1l-4.1-4.1l-4.1,4.1l-1-1l4.1-4.1l-4.1-4.1l1-1l4.1,4.1l4.1-4.1l1,1
				l-4.1,4.1L-484.2,531.3z"/>
			</svg>
		</a>
    </div>
</form>