<div class="container-fluid order-claim-page">
	<div class="custom-details">
		<span class="custom">Creating Order Claim for: </span>
		<span class="custom-name">Janet Smith, Order # 12485345-456</span>
	</div>
	<div class="adress-details">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<span class="name">Carly Ingles</span><br>
			<span class="edit">Edit Recepient<span>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  pull-right">
			<div class="address"> 
			   165 Western Ave N<br> Saint Paul, MN 55102
			</div>
		</div>
	</div>
	<div class="custom-info">
		<table class="table table-bordered">
			  <thead class="thead-default">
			    <tr>
			      <th>Select</th>
			      <th>Quantity</th>
			      <th>Products*</th>
			      <th>Price*</th>
			      <th>Select Claim Resolution*</th>
			      <th>Reason Code*</th>
			      <th>Enter Reason for Claim*</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row" class="select-module">
			      	<div class="Checkbox">
		                <input type="checkbox">
		                <div class="Checkbox-visible"></div>
		            </div>
		          </th>
			      <td  class="qty-value">1</td>
			      <td class="pro-module">
			      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 product-img">

			      </div>
		      	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pro-details">
		      	  	<h1>Stargazing Lilies</h1>
		      	  	<p>SKU #123920 </p>
		      	  	<p>Deluxe</p>
		      	  	<p> - Purple</p>
		      	  	<p class="delivery-date">Delivered: 6/12/2015</p>
		      	  	<p class="view">View Notes</p>
		      	  </div>
			  	  </td>
			      <td class="price">$39.99</td>
			      <td>
			      	 <select class="selectpicker">
					 <option>Mustard</option>
					 <option>Ketchup</option>
					 <option>Relish</option>
					 </select>
				  </td>
			      <td>
			      	 <select class="selectpicker">
					 <option>Mustard</option>
					 <option>Ketchup</option>
					 <option>Relish</option>
					 </select>
				  </td>
			      <td><textarea class="form-control" rows="5" id="comment"></textarea></td>
			    </tr>
			    <tr>
			      <th scope="row" class="select-module">
			      	<div class="Checkbox">
		                <input type="checkbox">
		                <div class="Checkbox-visible"></div>
		            </div>
		          </th>
			      <td class="qty-value">2</td>
			      <td class="pro-module">
			      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 product-img">

			      </div>
		      	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pro-details">
		      	  	<h1>Stargazing Lilies</h1>
		      	  	<p>SKU #123920 </p>
		      	  	<p>Deluxe</p>
		      	  	<p> - Purple</p>
		      	  	<p class="delivery-date">Delivered: 6/12/2015</p>
		      	  	<p class="view">View Notes</p>
		      	  </div>
			  	  </td>
			      <td class="price">$39.99</td>
			      <td>
			      	 <select class="selectpicker">
					 <option>Mustard</option>
					 <option>Ketchup</option>
					 <option>Relish</option>
					 </select>
				  </td>
			      <td>
			      	 <select class="selectpicker">
					 <option>Mustard</option>
					 <option>Ketchup</option>
					 <option>Relish</option>
					 </select>
				  </td>
			      <td><textarea class="form-control" rows="5" id="comment"></textarea></td>
			    </tr>
			    <tr>
			       <th scope="row" class="select-module">
			      	<div class="Checkbox">
		                <input type="checkbox">
		                <div class="Checkbox-visible"></div>
		            </div>
		          </th>
			      <td></td>
			      <td class="delivery">Delivery</td>
			      <td>$39.99</td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>

			  </tbody>
		</table>
	</div>
	<div class="adress-details">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<span class="name">Jessica Jones</span><br>
			<span class="edit">Edit Recepient<span>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  pull-right">
			<div class="address"> 
			   Abbott Northwestern Hospital <br> 165 Western Ave N<br>Saint Paul, MN 55102
			</div>
		</div>
	</div>
	<div class="custom-info">
		<table class="table table-bordered">
			  <thead class="thead-default">
			    <tr>
			      <th>Select</th>
			      <th>Quantity</th>
			      <th>Products*</th>
			      <th>Price*</th>
			      <th>Select Claim Resolution*</th>
			      <th>Reason Code*</th>
			      <th>Enter Reason for Claim*</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row" class="select-module">
			      	<div class="Checkbox">
		                <input type="checkbox">
		                <div class="Checkbox-visible"></div>
		            </div>
		          </th>
			      <td  class="qty-value">1</td>
			      <td class="pro-module">
			      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 product-img">

			      </div>
		      	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pro-details">
		      	  	<h1>Awesome Alstromeria</h1>
		      	  	<p>SKU #123920 </p>
		      	  	<p>Deluxe</p>
		      	  	<p>  - Multi-Colored</p>
		      	  	<p class="delivery-date">Delivered: 6/12/2015</p>
		      	  	<p class="view">View Notes</p>
		      	  </div>
			  	  </td>
			      <td class="price">$39.99</td>
			      <td>
			      	 <select class="selectpicker">
					 <option>Mustard</option>
					 <option>Ketchup</option>
					 <option>Relish</option>
					 </select>
				  </td>
			      <td>
			      	 <select class="selectpicker">
					 <option>Mustard</option>
					 <option>Ketchup</option>
					 <option>Relish</option>
					 </select>
				  </td>
			      <td><textarea class="form-control" rows="5" id="comment"></textarea></td>
			    </tr>
			  </tbody>
		</table>
	</div>
	<div class="claim-edit">
		<div class="cancel-claim">Cancel Claim </div>
		<div class="continue-claim">Checkou</div>
	</div>
</div>

