<div class="footer">
	<div class="claim-edit">
		<div class="cancel-claim"><a href="javascript: window.history.go(-1)">Cancel Claim</a></div>
		<!-- <div class="continue-claim" ng-click="orderClaim.orderclaimarr==null || orderClaim.completeclaim(orderClaim.orderID)" ng-disabled="orderClaim.orderclaimarr==null" ng-class="{disabled: orderClaim.orderclaimarr==null}">Complete Claim</div> -->
		<button class="continue-claim" ng-hide="orderClaim.orderclaimsummaryshow" ng-click="orderClaim.orderclaimCheck.length==0  || orderClaim.continueclaim()" ng-disabled="orderClaim.orderclaimCheck.length==0" ng-class="{disabled: orderClaim.orderclaimCheck.length==0}">Continue</button>
		<div class="continue-claim" ng-show="orderClaim.orderclaimsummaryshow" ng-click="orderClaim.completeclaim(orderClaim.orderID)">Complete Claim</div>
	</div>
</div>